{% extends 'admin/master.html' %}
{% block body %}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h1> {{ message }} </h1>
        <h2>Bem vindo ao módulo Admin bhadrasana do Sistema AJNA</h2>
        <div class="col-md-12">
            Efetue login para acessar as funcionalidades do sistema.
        </div>
        <div class="col-md-12">
            <h2><a href="/bhadrasana2/">Retornar ao módulo principal</a></h2>
        </div>
    </div>
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            &nbsp;
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %}