{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="options" class="row col-sm-12">
        <div class="col-sm-6">
            <ul class="nav nav-pills">
                <li class="{% if active_tab=='carga'  %}active{% endif %}"><a href="risco">
                    Importação - Mercante</a></li>
                <li class="{% if active_tab=='recintos'  %}active{% endif %}"><a href="risco?active_tab=recintos">
                    API Recintos - Gate</a></li>
            </ul>
        </div>
    </div>
    <div id="top" class="row col-sm-12">
        <form method="POST" id="formfiltro" action="aplica_risco">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="active_tab" value="{{active_tab}}"/>
            <div class="row col-sm-12">
                <h2>Filtros ativos</h2>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2" align="right">
                            {% if active_tab=='carga' %}
                            Data de atualização:
                            {% else %}
                            Data de ocorrência:
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datainicio(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datafim(class='form-control') }}
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-default btn-info form-control" onclick="submit">
                                Aplicar risco
                            </button>
                        </div>
                    </div>
                    {% if active_tab=='carga' %}
                    <div class="row">
                        &nbsp;<br>
                        <div class="col-sm-2">
                            <input type="checkbox" name="consignatario" {% if oform.consignatario.data %} checked {%
                                   endif %}/>
                            Consignatário
                        </div>
                        <div class="col-sm-2">
                            <input type="checkbox" name="ncm" {% if oform.ncm.data %} checked {% endif %}/>
                            NCM
                        </div>
                        <div class="col-sm-2">
                            <input type="checkbox" name="codigoConteiner" {% if oform.codigoConteiner.data %}
                                   checked {% endif %}/>
                            Número do Contêiner
                        </div>
                        <div class="col-sm-2">
                            <input type="checkbox" name="portoOrigemCarga" {% if oform.portoOrigemCarga.data %}
                                   checked {% endif %}/>
                            Porto de Origem
                        </div>
                        <div class="col-sm-2">
                            <input type="checkbox" name="embarcador" {% if oform.embarcador.data %} checked {% endif
                                   %}/>
                            Embarcador
                        </div>
                        <div class="col-sm-2">
                            <input type="checkbox" name="descricao" {% if oform.descricao.data %} checked {% endif
                                   %}/>
                            Descrição
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="checkbox" name="portoDestFinal" {% if oform.portoDestFinal.data %} checked
                                   {% endif %}/>
                            Porto de Destino
                        </div>
                    </div>
                    {% endif %}
                    {% if active_tab=='recintos' %}
                    <div class="row">
                        &nbsp;<br>
                        <div class="col-sm-3">
                            <input type="checkbox" name="cnpjTransportador" {% if oform.cnpjTransportador.data %}
                                   checked {%
                                   endif %}/>
                            CNPJ do Transportador
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="motorista_cpf" {% if oform.motorista_cpf.data %} checked {%
                                   endif %}/>
                            CPF do Motorista
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="login" {% if oform.login.data %}
                                   checked {% endif %}/>
                            Login do Operador de Escâner
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="mercadoria" {% if oform.mercadoria.data %}
                                   checked {% endif %}/>
                            Descrição da mercadoria
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
        <div class="table-responsive col-sm-12">
            <h3>Pesquisas anteriores</h3>
            <div class="table">
                <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive">
                    {% for arquivo in lista_csv %}
                    <tr>
                        <td>
                            {{ arquivo[0] }}<br>
                            {{ arquivo[1] }}
                        </td>
                        <td>
                            <a href="risco?planilha_atual={{arquivo[0]}}&active_tab={{active_tab}}">Mostrar na tela</a>
                        </td>
                        <td>
                            <a href="static/{{ current_user.name }}/{{arquivo[0]}}">Baixar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="table-responsive col-sm-12">
            <h4>Lista de Riscos da Base {{filename}} - total de {{total_linhas}} linhas - Máximo de 100 linhas.</h4>
            <h6>
                Baixe a planilha para ver as linhas restantes ou aplique mais filtros. A planilha tem um limite de 1000
                linhas.
            </h6>
            {% if planilha_atual %}
            <h4 class="btn-warning">Exibindo planilha {{ planilha_atual }} </h4>
            {% endif %}
            {% if csv_salvo %}
            <big>
                <a href="static/{{ current_user.name }}/{{csv_salvo}}">
                    <span class="label label-success">
                        <b>Baixar planilha</b>
                    </span>
                </a>
            </big>
            {% endif %}
            <div class="table">
                <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive"
                       cellspacing="0"
                       cellpadding="0" style="width:100%;">
                    {% if lista_risco is defined and lista_risco|length > 0 %}
                    <tr>
                        {% for key, value in lista_risco[0].items() %}
                        <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                    {% endif %}
                    {% for row in lista_risco %}
                    <tr>
                        {% for key, value in row.items() %}
                        <td align="center" style="word-wrap: break-word; max-width: 150px;">
                            {% if key=='numeroCEmercante' %}
                            <a href="https://ajna.labin.rf08.srf/virasana/cemercante/{{value}}" target="_BLANK">
                                {{value}}
                            </a><br>
                            <a href="ovr?numeroCEmercante={{value}}" target="_BLANK">
                                Criar OVR
                            </a>
                            {% elif key=='codigoConteiner' %}
                            <a href="https://ajna.labin.rf08.srf/virasana/files?numero={{value}}" target="_BLANK">
                                {{value}}
                            </a>
                            {% elif key=='_id' %}
                            {% if value %}
                            <a href="https://ajna.labin.rf08.srf/virasana/file?_id={{value}}" target="_BLANK">
                                <img src="https://ajna.labin.rf08.srf/virasana/mini1/{{ value}}" width="150px"/>
                            </a>
                            {% endif %}
                            {% else %}
                            {{value}}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %} {% if not lista_risco %}
                    <tr>
                        <td>Sem resultados.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            &nbsp;
        </div>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>

</script> {% endblock %}