{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div id="top" class="row">
        <div class="row col-sm-12" id="intro">
            <ol>
                <li>Baixar planilha padrão do Evento e preencher conforme eventos fisicamente observados</li>
                <li>Extrair arquivo de Eventos via Aniita (a integrar no Ajna)</li>
                <li>Informar dados e arquivos (planilha e json.txt) e clicar em "Iniciar Auditoria"</li>
            </ol>
        </div>
        <div class="row col-sm-12" id="planilhas">
            {% for planilha in lista_planilhas %}
            <a href="static/check_api/{{planilha}}">{{planilha[:-5]}}</a>
            {% endfor %}
        </div>
        <div class="row col-sm-12" id="arquivos">
            {% if arquivos %}
            <h3>Arquivos gerados no Servidor</h3>
            <div class="table">
                <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive">
                    {% for arquivo in arquivos %}
                    <tr>
                        <td>
                            <a href="static/{{ current_user.name }}/{{arquivo}}">{{ arquivo }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
        <div class="row col-sm-12">
            <h4>Dados para auditoria</h4>
        </div>
        <div class="col-sm-12">
            <form method="POST" action="assistente_checkapi" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="tipoevento_id">Tipo de Evento</label>
                    </div>
                    <div class="col-sm-4">
                        {{ checkapiform.tipoevento_id(class='form-control') }}
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="recinto_id">Recinto Auditado</label>
                    </div>
                    <div class="col-sm-4">
                        {{ checkapiform.recinto_id(class='form-control') }}
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="row col-sm-12">
                    <label>Arquivos da auditoria:</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Planilha de checagem física a anexar</label>
                            {{ checkapiform.planilha(class='form-control') }}
                        </div>
                        <div class="col-sm-4">
                            <label>Arquivo texto (JSON) a anexar</label>
                            {{ checkapiform.eventos_json(class='form-control') }}
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    &nbsp;&nbsp;<br>
                    <div class="col-sm-4">
                        <input class="btn btn-primary" type="submit" name="iniciar"
                               value="Iniciar auditoria"/>
                    </div>
                    <div class="col-sm-4">
                        <input class="btn btn-primary" type="submit" name="finalizar"
                               value="Gerar Ficha de Auditoria"/>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </form>
        </div>
        <div class="row" id="rodape">
            <div class="col-sm-12">
                <h3>Resultados</h3>
                {% for msg in mensagens %}
                {{ msg }}<br>
                {% endfor %}
                <div class="table">
                    {% if eventos_fisico is not none%}
                    <h4>Tabela de checagem física/real</h4>
                    <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive"
                           cellspacing="0"
                           cellpadding="0" style="width:100%;">
                        <tr>
                            <th>Linha</th>
                            {% for col in eventos_fisico.columns %}
                            <th> {{ col }}</th>
                            {% endfor %}
                        </tr>
                        {% for row in eventos_fisico.iterrows() %}
                        <tr>
                            <td>{{row[0]}}</td>
                            {% for col in row[1] %}
                            <td> {{ col }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
                <h4>Divergências:</h4>
                {% for linha in linhas_divergentes %}
                {{ linha }}<br>
                {% endfor %}
                <div class="table">
                    {% if amostra_eventos_api is not none%}
                    <h4>Amostra de Eventos extraídos da API(campos importados pelo script)</h4>
                    <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive"
                           cellspacing="0"
                           cellpadding="0" style="width:100%;">
                        <tr>
                            <th>Linha</th>
                            {% for col in amostra_eventos_api.columns %}
                            <th> {{ col }}</th>
                            {% endfor %}
                        </tr>
                        {% for row in amostra_eventos_api.iterrows() %}
                        <tr>
                            <td>{{row[0]}}</td>
                            {% for col in row[1] %}
                            <td> {{ col }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}

<script>
</script>
{% endblock %}