{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="minhas_ovrs_table">
                <thead>
                <tr>
                    {% for col in titulos %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ovr_lista in listaovrs %}
                <tr class="{% if ovr_lista[0] == ovr.id %}warning{% else %}default{% endif %} clickable-row"
                    data-href="autos_contrafacao?ovr_id={{ovr_lista[0]}}"
                    onmouseover="showMsg(this, '{{ ovr_lista[0] }}')" onmouseout="clearMsg(this)">
                    <td>{{ ovr_lista[0] }}</td>
                    {% for col in ovr_lista[2] %}
                    <td style="text-align:left">{{ col | safe }}</td>
                    {% endfor %}
                </tr>
                </a>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Tratamento de marcas -->
    {% if ovr %}
    <div id="marcas" class="row col-sm-12">
        <div class="col-xl-12">
            <div class="panel rounded-pill panel-info">
                <div class="panel-heading" onmouseover="showMsg(this, '{{ ovr.id }}')" onmouseout="clearMsg(this)">
                    <div class="row">
                        <div class="col-sm-3">
                            <button id="btn_abrirficha" type="button"
                                    class="btn btn-primary btn-warning form-control"
                                    onclick="window.open('ovr?id={{ovr.id}}')">
                                Abrir Ficha
                            </button>
                        </div>
                    </div>
                    <h3>
                        Operação {{ ovr.id }}
                        - CE{{ ovr.numeroCEmercante}} - DUE {{ovr.numerodeclaracao}} - Fiscalizado
                        {{ovr.cnpj_fiscalizado}}
                    </h3>
                    <div class="row col-sm-12">
                        Verificações:
                        {% for rvf in rvfs %}
                        {{ rvf.id }} - {{ rvf.descricao }}<br>
                        {% endfor %}
                    </div>
                    <div class="row col-sm-12">
                        {% for tg in ovr.tgs %}
                        <div class="col-sm-3">
                            <button id="btn_autocontrafacao" type="button"
                                    class="btn btn-primary btn-success form-control"
                                    onclick="location.href='emite_auto_contrafacao?tg_id={{tg.id}}'">
                                Emitir esqueleto do Auto - TG no. {{ tg.numerotg }} ({{tg.valor}})
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                    &nbsp;<br>
                    <h3>Relação de marcas e representantes</h3>
                </div>
                {% for representante, marcas in marcas_dict.items() %}
                <div class="panel-body panel-primary">
                    <div id="{{ representante.nome }}" class="panel panel-heading panel-primary rounded-pill">
                        Representante:<br>
                        {% if representante %}
                        {{ representante.cnpj }} - {{ representante.nome }}<br>
                        {% else %}
                        SEM REPRESENTANTE CADASTRADO!!!<br>
                        {% endif %}
                        Marcas:<br>
                        {% for marca in marcas %}
                        {{ marca.nome }}
                        {% endfor %}
                        {% if representante %}
                        <div class="row">
                            <div class="col-sm-3">
                                <button id="btn_comunicado" type="button"
                                        class="btn btn-primary btn-success form-control"
                                        onclick="location.href='comunicado_contrafacao?ovr_id={{ovr.id}}&representante_id={{representante.id}}'">
                                    Emitir comunicado
                                </button>
                            </div>
                            <div class="col-sm-3">
                                <button id="btn_termo" type="button" class="btn btn-primary btn-success form-control"
                                        onclick="location.href='termo_contrafacao?ovr_id={{ovr.id}}&representante_id={{representante.id}}'">
                                    Emitir termo de retirada
                                </button>
                            </div>
                            <div class="col-sm-3">
                                <button id="btn_auto" type="button" class="btn btn-primary btn-warning form-control"
                                        data-toggle="modal" data-target="#evento">
                                    Informar Evento
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
<!--Footer-->
<div id="bottom" class="row col-sm-12">
    AJNA - Receita Federal do Brasil 2017
</div>
<!-- Form EventoOVR -->
{% include 'evento_form.html' %}
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
   function showMsg(adiv, oid) {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    adiv.title = this.responseText;
                }
            }
        }
        xhttp.open("GET", "/bhadrasana2/ficha/summary/" + oid, true);
        xhttp.send();
    }
    function clearMsg(adiv) {
        adiv.title = "";
    }




</script>
{% endblock %}