<div class="panel panel-info rounded-pill">
    <div class="panel-heading rounded-pill">
        {% if infoce %}
        {% set conhecimento = infoce.conhecimento %}
        {% set empresa = infoce.empresa %}
        {% set containers = infoce.containers %}
        {% set ncms = infoce.ncms %}
        {% set sats = infoce.sats %}
        {% endif %}
        {% if conhecimento %}
        Número CE Mercante: <a href="/virasana/cemercante/{{ conhecimento.numeroCEmercante }}">{{
        conhecimento.numeroCEmercante }}</a>
        CE Master: <a href="/bhadrasana2/consulta_ce?numeroCEmercante={{ conhecimento.numeroCEMaster }}">{{
        conhecimento.numeroCEMaster }}</a>
        {% if ovr %}
        <font size="+1"><b>&nbsp;&nbsp; - &nbsp;
            <a href="programa_rvf_ajna?ovr_id={{ovr.id}}" target="_blank">
                Ver imagens e mais informações / programar verificação física</a></b> </font>
        {% endif %}
        <br>
        Número BL: {{ conhecimento.numConhecimento }}<br>
        Embarcador: {{ conhecimento.embarcador }}<br>
        Consignatário: {{ conhecimento.consignatario }} -
        {% if empresa %}{{ empresa.nome }} {% endif %}
        <br>
        Data de emissão: {{ conhecimento.dataEmissao }}
        Porto de Origem: {{ conhecimento.portoOrigemCarga }}
        Porto de destino final: {{ conhecimento.portoDestFinal }}
        <br>
        Descrição Mercadoria:{{ conhecimento.descricao }}
        <br>
        <!--Nº BL original: {{ conhecimento.descricao }} -->
        Contêineres: {% for container in containers %}
        nº: {{container.codigoConteiner}} - {{"%.2f"|format(container.pesoBruto|float)}}kg
        {% endfor %}
        <br>
        {% if conhecimento.cubagem %}Cubagem total: {{ "%.2f"|format(conhecimento.cubagem|float) }}m³{% endif %}
        NCMs: {% for ncm in ncms %}{{ ncm.identificacaoNCM }} {% endfor %}
        <br>
        {% if sats %}
        Empresa possui pedidos de Laudo Técnico (SAT/LAB):
        {% for sat in sats %} {{ sat.get_numero() }} {% endfor %}
        {% endif %}

        {% endif %}
    </div>
</div>
