{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="options" class="row col-sm-12">
        <div class="col-sm-6">
            <ul class="nav nav-pills">
                <li class="{% if active_tab=='carga'  %}active{% endif %}"><a href="edita_risco">
                    Importação - Mercante</a></li>
                <li class="{% if active_tab=='recintos'  %}active{% endif %}"><a href="edita_risco?active_tab=recintos">
                    API Recintos - Gate</a></li>
            </ul>
        </div>
    </div>
    <div id="top" class="row">
        <div class="col-sm-12">
            <form method="POST" id="formfiltro" action="inclui_risco">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="campo">Campo</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="valor">Valor</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="motivo">Motivo</label>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="hidden" name="active_tab" value="{{active_tab}}">
                        <div class="col-sm-2">
                            {{ oform.campo(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="valor" id="valor"/>
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="motivo" value="{{ motivo }}" id="motivo"/>
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-default btn-info" type="submit" value="Incluir risco"/>
                        </div>
                        <div class="col-sm-2">
                            <button onclick="exporta_csv()" id="btn_exportar"
                                    type="button" class="btn btn-default">Exportar Planilha
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button id="btn_incluir" type="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#importa_csv">Importar Planilha
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive col-sm-12">
            <h4>Lista de Riscos Ativos</h4>
            <div class="table">
                <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive"
                       cellspacing="0"
                       cellpadding="0">
                    <tr>
                        <th align="center">
                            Campo
                        </th>
                        <th align="center">
                            Valor
                        </th>
                        <th align="center">
                            Motivo
                        </th>
                        <th align="center">
                        </th>
                    </tr>
                    {% for risco in riscos_ativos %}
                    <tr>
                        <td align="center">
                            {{ risco.campo }}
                        </td>
                        <td align="center">
                            {{ risco.valor }}
                        </td>
                        <td align="center">
                            {{ risco.motivo }}
                        </td>
                        <td align="center">
                            <a href="exclui_risco/{{ risco.ID }}">X</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if not riscos_ativos %}
                    <tr>
                        <td>Sem resultados.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            &nbsp;
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
    <div class="modal fade" id="importa_csv" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="ModalLabel">Importar CSV</h1>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/importacsv" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <label class="btn btn-default btn-choose" for="csv">
                            <input id="csv" name="csv" type="file" style="display:none"
                                   onchange="$('#upload-file-info').html(this.files[0].name)"> Escolha o CSV
                        </label>
                        <big>
                            <span class='label label-success' id="upload-file-info"></span>
                        </big>
                        &nbsp;
                        <input class="btn btn-primary" type="submit" value="Importar CSV"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %} {% block scripts %} {{super()}}

<script>
    function exporta_csv() {
        window.location.assign('exporta_csv');
    }


</script> {% endblock %}