{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <form method="POST" id="encerramentoovr" action="ovr">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="id" value="{{ encerramento_form.id.data }}"/>
        <div class="form-group">
            Atenção!!! Uma vez encerrada, não será mais possível editar informações e inserir Eventos na Ficha
                (exceto anotações do formato "Evento meramente informativo")<br>
            <div class="row">
                Apreensões informadas: <br>
                <li>Aqui o sistema preencherá informações do Tipo TASEDA ou um aviso se não houverem</li>
                <input class="btn btn-primary" type="button" value="Informar apreensão agora"/>
            </div>
            <div class="row">
                Termos de Guarda informados: <br>
                <li>Aqui o sistema preencherá o resumo de informações do Tipo Termo de Guarda  ou um aviso se não houverem</li>
                <input class="btn btn-primary" type="button" value="Informar TG agora"/>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="tiporesultado">Tipo de resultado</label><br>
                    Atenção: aqui o Sistema bloqueia "Sem resultado" caso exista informação de Taseda ou TG
                </div>
                <div class="col-sm-9">
                    {{ encerramento_form.tiporesultado(class='form-control') }}
                </div>
            </div>
            <h3>A exbição abaixo é condicional de acordo com a seleção do tipo de resultado</h3>
            <div class="row">
                Eventos informados: <br>
                <li>Aqui o sistema lista Eventos como atualização de bloqueio, etc. Será preciso pensar em um roteiro para validar os Eventos</li>
                <input class="btn btn-primary" type="button" value="Informar evento faltante"/>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="responsavel_cpf">Auditor Responsável</label>
                </div>
                <div class="col-sm-9">
                    {{ encerramento_form.responsavel_cpf(class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="numerodossie">Dossiê vinculado à Ficha (se houver)</label>
                </div>
                <div class="col-sm-9">
                    {{ encerramento_form.numerodossie(class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="numeropaf">PAF vinculado à Ficha (se houver)</label>
                </div>
                <div class="col-sm-9">
                    {{ encerramento_form.numeropaf(class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="numerorffp">RFFP vinculada à Ficha (se houver)</label>
                </div>
                <div class="col-sm-9">
                    {{ encerramento_form.numerorffp(class='form-control') }}
                </div>
            </div>
            <div class="row">
                <input class="btn btn-primary" type="submit" value="Encerrar Ficha de Operação"/>
            </div>
        </div>
    </form>
</div>

<!--Footer-->
<div id="bottom" class="row col-sm-12">
    Sistema AJNA - Receita Federal do Brasil
</div>


<div class="modal fade" id="lavratura" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel1">Registra lavratura de Auto de Infração</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="informalavraturaauto" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="ovr_id" value="{{ encerramento_form.id.data }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="responsável">Nome Responsável</label>
                        </div>
                        <div class="col-sm-9">
                            {{ encerramento_form.responsavel_cpf(class='form-control') }}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Informar lavratura"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block scripts %} {{super()}}


</script> {% endblock %}