{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-sm-12">
            <form method="POST" id="formrvf" action="fma">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="id" value="{{ oform.id.data }}"/>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            Número
                            {{ oform.numero(class='form-control')}}
                        </div>
                        <div class="col-sm-12">
                            CE Mercante
                            {{ oform.numeroCEmercante(class='form-control')}}
                        </div>
                        <div class="col-sm-12">
                            Descrição
                            {{ oform.observacoes(class='form-control') }}
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label for="data">Dia da emissão</label>
                            </div>
                            <div class="col-sm-3">
                                <label for="data">Hora da emissão</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                {{ oform.adata(class='form-control') }}
                            </div>
                            <div class="col-sm-3">
                                {{ oform.ahora(class='form-control') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    &nbsp;<br>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-primary form-control" onclick="submit">
                            Salvar
                        </button>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                        <a href="rvf_impressao/{{ oform.id.data }}" class="btn btn-info form-control">
                            Imprimir
                        </a>
                    </div>
                    <div class="col-sm-7">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
</script> {% endblock %}