{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-sm-12">
            <form method="POST" id="formfiltro" action="gera_docx">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="campo">Nome do modelo</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="motivo">ID da fonte</label>
                    </div>
                    <div class="col-sm-8">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-3">
                            {{ formdocx.docx_id(class='form-control') }}
                        </div>
                        <div class="col-sm-1">
                            {{ formdocx.oid(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-default btn-warning form-control" type="submit" name="preencher"
                                   value="Gerar docx preenchido"/>
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-default btn-danger form-control" type="submit" name="excluir"
                                   value="Excluir modelo docx"/>
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-default btn-info form-control" type="submit" name="baixar"
                                   value="Baixar modelo docx"/>
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-default btn-info form-control" type="submit" name="visualizar"
                                   value="Ver Campos do Tipo de Fonte"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row col-sm-12" id="visualizar">
            {% if ovr_dict %}
            <h3>Guia de uso das TAGS (para o tipo de fonte de dados selecionado)</h3>
            <h4>Utilizar chaves para os campos simples. Para campos "filhos", há três opções:
                 <span>&#60;</span> gera tabelas, <span>&#123;&#123;</span> gera parágrafos e
            <span>&#60;&#60;</span> gera páginas, exibindo imagem contida no primeiro campo.</h4>
            <h4>Baixar modelos disponíveis para exemplos</h4>
            {% for key, value in ovr_dict.items() %}
                {% if value is iterable and value is not string and value[0] is mapping %}
                <span>&#60;</span>{{key}}:{% for subkey, subvalue in value[0].items() %}{{subkey}}:{% endfor %}<span>&#62;</span><br>
                {% else %}
                <span>&#123;</span>{{key}}<span>&#125;</span><br>
                {% endif %}
            {% endfor %}
            &nbsp;<br>
            <h3>Conteúdo disponível na fonte selecionada para o ID</h3>
            <ul>
            {% for key, value in ovr_dict.items() %}
                {% if value is iterable and value is not string  %}
                    {% for item in value %}
                    <li>{{ key }}</li>
                    <ul>
                    {% if item is mapping %}
                        {% for subkey, subvalue in item.items() %}
                        <li>{{ subkey }} - {{ subvalue }}</li>
                        {% endfor %}
                    {% else %}
                    <li>{{ item }}</li>
                    {% endif %}
                    </ul>
                    {% endfor %}
                {% else %}
                <li>{{ key }} - {{ value }}</li>
                {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="row col-sm-12" id="arquivos">
            {% if arquivos %}
            <h3>Arquivos gerados no Servidor</h3>
            <div class="table">
                <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive">
                    {% for arquivo in arquivos %}
                    <tr>
                        <td>
                            <a href="static/{{ current_user.name }}/{{arquivo}}">{{ arquivo }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>            {% endif %}
        </div>
        <div class="row col-sm-12">
            <h3>Inserir novo modelo de documento</h3>
        </div>
        <div class="col-sm-12">
            <form method="POST" action="novo_docx" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="filename">Nome do modelo de documento</label>
                    </div>
                    <div class="col-sm-4">
                        {{ modeloform.filename(class='form-control') }}
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="fonte_docx_id">Tipo de fonte de dados</label>
                    </div>
                    <div class="col-sm-4">
                        {{ modeloform.fonte_docx_id(class='form-control') }}
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="btn btn-default btn-choose" for="documento">
                            <input id="documento" name="documento" type="file" style="display:none"
                                   onchange="change_anexo(this)"> Informe arquivo a anexar
                        </label>
                        <big>
                            <span class='label label-success' id="upload-file-info"></span>
                        </big>
                    </div>
                </div>
                <div class="row">
                    &nbsp;<br>
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" value="Fazer Upload de novo modelo"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}

<script>


</script> {% endblock %}