{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="filtro_personalizado_table" style="width:100%;">
                <thead>
                <tr>
                    <th></th>
                    <th style="word-wrap: break-word; max-width: 210px; min-width: 200px;">Descrição</th>
                    <th style="max-width: 50px;">Qtde</th>
                    <th style="max-width: 50px;">Unidade</th>
                    <th style="max-width: 50px;">Valor</th>
                    <th style="max-width: 50px;">NCM</th>
                    <th style="max-width: 50px;">
                        <button id="btn_excluir_todos_itens" type="button"
                                class="btn btn-danger form-control"
                                onclick="exclui_todos_itens()">excluir todos
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for itemtg in listaitemtg %}
                <tr>
                    <td><a href="lista_itemtg?tg_id={{itemtg.tg_id}}&item_id={{itemtg.id}}">{{loop.index}}</a></td>
                    <td style="word-wrap: break-word; max-width: 500px; min-width: 400px;">
                        <input class="form-control" type="text"
                               value="{{ itemtg.descricao }}"
                               onkeydown="do_update(event, {{itemtg.id}}, 'descricao', this.value)">
                    </td>
                    <td style="max-width: 40px;">
                        <input class="form-control" type="text" step="any"
                               value="{{ itemtg.qtde }}"
                               onkeydown="do_update(event, {{'%.2f' % itemtg.id}}, 'qtde', this.value)">
                    </td>
                    <td style="max-width: 50px;">{{ itemtg.get_unidadedemedida }}</td>
                    <td style="max-width: 60px;"><input class="form-control" type="text" step="any"
                                                        value="{{ itemtg.valor|moeda }}"
                                                        onkeydown="do_update(event, {{ '%.2f' % itemtg.id}}, 'valor', this.value)">
                    </td>
                    <td style="max-width: 60px;"><input class="form-control" type="text"
                                                        value="{{ itemtg.ncm }}"
                                                        onkeydown="do_update(event, {{itemtg.id}}, 'ncm', this.value)">
                    </td>
                    <td style="max-width: 70px;">
                        <button id="btn_excluir" type="button" class="btn btn-danger form-control"
                                onclick="exclui_itemtg({{ itemtg.id }})">excluir
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row col-sm-12">
        <br>
        <div class="col-sm-6">
            <button id="btn_novotg" type="button" class="btn btn-primary btn-warning form-control"
                    onclick="window.open('lista_itemtg?tg_id={{oform.tg_id.data}}', '_self')">
                Novo item
            </button>
        </div>
        <div class="col-sm-2">
            <button id="btn_importar" type="button" class="btn btn-info form-control"
                    data-toggle="modal" data-target="#importa_planilha">
                Importar Planilha
            </button>
        </div>
        <div class="col-sm-2">
            <button onclick="exporta_planilhatg('Safira')" id="btn_exportar"
                    type="button" class="btn btn-default form-control">
                Exportar (Safira)
            </button>
        </div>
        <div class="col-sm-2">
            <button onclick="exporta_planilhatg('Secta')" id="btn_exportar2"
                    type="button" class="btn btn-default form-control">
                Exportar (Secta)
            </button>
        </div>
    </div>
    <div id="form_div" class="row col-sm-12">
        <form method="POST" id="formitemtg" action="itemtg">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="id" value="{{ oform.id.data }}"/>
            <input type="hidden" name="tg_id" value="{{ oform.tg_id.data }}"/>
            <input type="hidden" name="numero" value="{{ oform.numero.data }}"/>
            <div class="row col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12">
<!--                        Descrição<span style="color:red">(*)</span>-->
                        Descrição *
                        {{ oform.descricao(class='form-control')}}
                    </div>
                    <div class="col-sm-12">
                        Unidade
                        {{ oform.unidadedemedida(class='form-control')}}
                    </div>
                    <div class="col-sm-12">
                        Qtde *
                        {{ oform.qtde(class='form-control')}}
                    </div>
                    <div class="col-sm-12">
                        Valor unitário *
                        {{ oform.valor(class='form-control') }}
                    </div>
                    <div class="col-sm-12">
                        NCM
                        {{ oform.ncm(class='form-control') }}
                    </div>
                    <div class="col-sm-12">
                        Marca contrafeita (se houver)
                        {{ oform.marca_id(class='form-control') }}
                    </div>
                </div>
            </div>
            <div class="row col-sm-12">
                &nbsp;<br>
                <div class="col-sm-5">
                    <h5>Os campos marcados com * são obrigatórios</h5>
                    <button class="btn btn-default btn-primary form-control" onclick="submit">
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
<div class="modal fade" id="importa_planilha" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel">Importar Planilha</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="importaplanilhatg" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="tg_id" value="{{ oform.tg_id.data }}"/>
                    <label class="btn btn-default btn-choose" for="planilha">
                        <input id="planilha" name="planilha" type="file" style="display:none"
                               onchange="$('#upload-file-info').html(this.files[0].name)"> Escolha a planilha
                    </label>
                    <big>
                        <span class='label label-success' id="upload-file-info"></span>
                    </big>
                    &nbsp;
                    <input class="btn btn-primary" type="submit" value="Importar"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    function do_update(event, id, campo, value){
      var key = event.which || event.keyCode;
      if (key == 13){
        console.log(value)
        $.getJSON('edita_itemtg', {
         id: id,
         campo: campo,
         valor: value
        }, function(response) {
            console.log(response)
        });
      }
    }
    function exporta_planilhatg(formato) {
        window.location.assign('exportaplanilhatg?tg_id={{oform.tg_id.data}}&formato=' + formato);
    }

    function exclui_itemtg(itemtg_id){
        tg_id = {{oform.tg_id.data}}
        if (window.confirm("Tem certeza que deseja excluir este item?")){
            window.location.assign('exclui_itemtg?tg_id=' + tg_id + '&itemtg_id=' + itemtg_id);
        }
        else{
            window.location.assign('lista_itemtg?tg_id=' + tg_id);
        }
    }

    function exclui_todos_itens(){
        tg_id = {{oform.tg_id.data}}
        if (window.confirm("Tem certeza que deseja excluir TODOS os itens do TG?")){
            window.location.assign('exclui_todos_itens?tg_id=' + tg_id);
        }
        else{
            window.location.assign('lista_itemtg?tg_id=' + tg_id);
        }
    }


</script>
{% endblock %}