{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="filtro_personalizado_table" style="width:100%;">
                <thead>
                <tr>
                    <th></th>
                    <th style="max-width: 50px;">Número contêiner/lote</th>
                    <th style="word-wrap: break-word; max-width: 210px; min-width: 200px;">Descrição</th>
                    <th style="max-width: 50px;">Qtde</th>
                    <th style="max-width: 50px;">Unidade</th>
                    <th style="max-width: 50px;">Valor</th>
                </tr>
                </thead>
                <tbody>
                {% for tgovr in listatgovr %}
                <tr>
                    <td><a href="lista_tgovr?ovr_id={{tgovr.ovr_id}}&item_id={{tgovr.id}}">{{tgovr.id}}</a></td>
                    <td style="max-width: 40px;">
                        {{ tgovr.numerolote }}
                    </td>
                    <td style="word-wrap: break-word; max-width: 500px; min-width: 400px;">
                        {{ tgovr.descricao }}
                    </td>
                    <td style="max-width: 40px;">
                        {{ tgovr.qtde }}
                    </td>
                    <td style="max-width: 50px;">{{ tgovr.get_unidadedemedida() }}</td>
                    <td style="max-width: 40px;">
                        {{ tgovr.valor }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row col-sm-12">
        <br>
        <button id="btn_novotg" type="button" class="btn btn-primary btn-success form-control"
                onclick="window.open('lista_tgovr?ovr_id={{oform.ovr_id.data}}')">
            Novo TG
        </button>
    </div>
    <div id="form_div" class="row">
        <form method="POST" id="formtgovr" action="tgovr">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="id" value="{{ oform.id.data }}"/>
            <input type="hidden" name="ovr_id" value="{{ oform.ovr_id.data }}"/>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12">
                        Número do contêiner ou Lote
                        {{ oform.numerolote(class='form-control') }}
                    </div>
                    <div class="col-sm-12">
                        Descrição
                        {{ oform.descricao(class='form-control')}}
                    </div>
                    <div class="col-sm-12">
                        Unidade
                        {{ oform.unidadedemedida(class='form-control')}}
                    </div>
                    <div class="col-sm-12">
                        Qtde
                        {{ oform.qtde(class='form-control')}}
                    </div>
                    <div class="col-sm-12">
                        Valor unitário
                        {{ oform.valor(class='form-control') }}
                    </div>
                </div>
            </div>
            <div class="row col-sm-12">
                <br>
                <div class="col-sm-6">
                    <button class="btn btn-default btn-primary form-control" onclick="submit">
                        Salvar
                    </button>
                </div>
                <div class="col-sm-6">
                    <button id="btn_tg" type="button" class="btn btn-primary btn-success form-control"
                            onclick="window.open('lista_itemtg?tg_id={{oform.id.data}}')">
                        Itens
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    function do_update(event, id, campo, value){
      var key = event.which || event.keyCode;
      if (key == 13){
        console.log(value)
        $.getJSON('edita_itemtg', {
         id: id,
         campo: campo,
         valor: value
        }, function(response) {
            console.log(response)
        });
      }
    }


</script>
{% endblock %}