{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="options" class="row col-sm-12">
        <div class="col-sm-12">
            <h4>Filtrar por</h4>
            <ul class="nav nav-pills">
                <li class="{% if active_tab=='minhas_ovrs'  %}active{% endif %}"><a href="minhas_ovrs">
                    Fichas a mim atribuídas</a></li>
                <li class="{% if active_tab=='ovrs_meus_setores'  %}active{% endif %}"><a href="ovrs_meus_setores">
                    Fichas dos meus Setores</a></li>
                <li class="{% if active_tab=='ovrs_criador'  %}active{% endif %}"><a href="ovrs_criador">
                    Fichas criadas por mim</a></li>
                <li class="{% if active_tab=='ovrs_passagem'  %}active{% endif %}"><a href="ovrs_passagem">
                    Fichas que passaram por mim</a></li>
                <li class="{% if active_tab=='ovrs_auditor'  %}active{% endif %}"><a href="ovrs_auditor">
                    Sou Auditor Responsável</a></li>
            </ul>
        </div>
    </div>
    <div id="actions" class="row col-sm-12">
        <h4>Com linhas selecionadas, fazer ação:</h4>
        <div class="col-sm-3">
        <button id="btn_responsavel_setor" type="button" class="btn btn-warning form-control"
                data-toggle="modal" data-target="#responsavel_setor">
            Atribuir responsável
        </button>
        </div>
        <div class="col-sm-3">
        <button id="btn_responsavel" type="button" class="btn btn-warning form-control"
                data-toggle="modal" data-target="#responsavel_todos">
            Atribuir responsável (todos)
        </button>
        </div>
        <div class="col-sm-3">
        <button id="btn_historico" type="button" class="btn btn-primary btn-warning form-control"
                data-toggle="modal" data-target="#historico">Informar Evento
        </button>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <div class="row col-sm-12">&nbsp;</div>
    <div class="form-group">
        <form method="POST" id="filtrominhasovrs" action="{{active_tab}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row">
                <div class="col-sm-4">
                    <label for="datainicio">Início e fim de período de pesquisa</label>
                </div>
                <div class="col-sm-2">
                    <label for="tipoexibicao">Campos a visualizar</label>
                </div>
                <div class="col-sm-2">
                    <label for="orfãs">Exibir Fichas sem responsável</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        {{ oform.datainicio(class='form-control') }}
                    </div>
                    <div class="col-sm-2">
                        {{ oform.datafim(class='form-control') }}
                    </div>
                    <div class="col-sm-2">
                        {{ oform.tipoexibicao(class='form-control') }}
                    </div>
                    <div class="col-sm-2">
                        {{ oform.orfas(class='form-control') }}
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="submit">
                            Pesquisar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        {% for fase in listasovrs.keys()|sort() %}
        <h2>{{ fase }}</h2>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="minhas_ovrs_table">
                <thead>
                <tr>
                    <th></th>
                    {% for col in titulos %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ovr in listasovrs[fase] %}
                <tr class="{% if ovr[1] %}default{% else %}warning{% endif %}">
                    <td><input type="checkbox" name="rowid" class="action-checkbox" value="{{ovr[0]}}" title="Selecionar linha"></td>
                    <td><a href="ovr?id={{ovr[0]}}" target="_blank">{{ ovr[0] }}</a></td>
                    {% for col in ovr[2] %}
                    <td style="text-align:left" {% if ovr[3] %}class="bg-warning text-dark"{% endif %}>{{ col | safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

    <!--Footer-->
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>

    <!--Modais-->
    <div class="modal fade" id="responsavel_setor" tabindex="-1" role="dialog" aria-labelledby="ModalLabel_setor"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="ModalLabel_setor">Registra responsável pela ficha</h1>
                </div>
                <div class="modal-body">
                    <form method="POST" action="responsavelovr_minhasovrs" enctype="multipart/form-data" id="responsavelovr_form_setor">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="active_tab" value="{{active_tab}}"/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="responsavel">Nome Responsável</label>
                            </div>
                            <div class="col-sm-9">
                                {{ responsavel_form_setor.responsavel(class='form-control') }}
                            </div>
                        </div>
                        <input class="btn btn-primary" onclick="submit_many(this)" value="Atribuir"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="responsavel_todos" tabindex="-1" role="dialog" aria-labelledby="ModalLabel0"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="ModalLabel0">Registra responsável pela ficha</h1>
                </div>
                <div class="modal-body">
                    <form method="POST" action="responsavelovr_minhasovrs" enctype="multipart/form-data" id="responsavelovr_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="active_tab" value="{{active_tab}}"/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="responsavel">Nome Responsável</label>
                            </div>
                            <div class="col-sm-9">
                                {{ responsavel_form.responsavel(class='form-control') }}
                            </div>
                        </div>
                        <input class="btn btn-primary" onclick="submit_many(this)" value="Atribuir"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="historico" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="ModalLabel">Registra evento da OVR</h1>
                </div>
                <div class="modal-body">
                    <form method="POST" action="eventoovr_minhasovrs" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="active_tab" value="{{active_tab}}"/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="tipoevento">Novo Status</label>
                            </div>
                            <div class="col-sm-9">
                                {{ historico_form.tipoevento_id(class='form-control') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="motivo">Motivo</label>
                            </div>
                            <div class="col-sm-9">
                                {{ historico_form.motivo(class='form-control') }}
                            </div>
                        </div>
                        <input class="btn btn-primary" onclick="submit_many(this)" value="Informar"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    function exporta_planilhaovr() {
        window.location.assign('exportaplanilhaovr');
    }

    function submit_many(pinput){
        var form = $(pinput.form);
        // console.log(form)
        $('input.action-checkbox:checked').each(function() {
            form.append($(this).clone());
            // console.log($(this).clone());
        });
        form.submit();
    }
</script>
{% endblock %}