{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="options" class="row col-sm-12">
        <div class="col-sm-5">
            <ul class="nav nav-pills">
                <li class="{% if active_tab=='minhas_ovrs'  %}active{% endif %}"><a href="minhas_ovrs">Fichas a mim
                    atribuídas</a></li>
                <li class="{% if active_tab!='minhas_ovrs'  %}active{% endif %}"><a href="ovrs_meus_setores">Fichas dos
                    meus
                    Setores</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        {% for fase in listasovrs.keys()|sort() %}
        <h2>{{ fase }}</h2>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="filtro_personalizado_table">
                <thead>
                <tr>
                    {% for col in titulos %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ovr in listasovrs[fase] %}
                <tr>
                    <td><a href="ovr?id={{ovr[0]}}">{{ ovr[0] }}</a></td>
                    {% for col in ovr[1:] %}
                    <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    function exporta_planilhaovr() {
        window.location.assign('exportaplanilhaovr');
    }




</script>
{% endblock %}