{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="options" class="row col-sm-12">
        <div class="col-sm-12">
            <ul class="nav nav-pills">
                <li class="{% if active_tab=='minhas_ovrs'  %}active{% endif %}"><a href="minhas_ovrs">
                    Fichas a mim atribuídas</a></li>
                <li class="{% if active_tab=='ovrs_meus_setores'  %}active{% endif %}"><a href="ovrs_meus_setores">
                    Fichas dos meus Setores</a></li>
                <li class="{% if active_tab=='ovrs_criador'  %}active{% endif %}"><a href="ovrs_criador">
                    Fichas criadas por mim</a></li>
            </ul>
        </div>
    </div>
    <div class="row col-sm-12">&nbsp;</div>
    <div class="form-group">
        <form method="POST" id="filtrominhasovrs" action="{{active_tab}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row">
                <div class="col-sm-4">
                    <label for="datainicio">Início e fim de período de pesquisa</label>
                </div>
                <div class="col-sm-4">
                    <label for="tipoexibicao">Campos a visualizar</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        {{ oform.datainicio(class='form-control') }}
                    </div>
                    <div class="col-sm-2">
                        {{ oform.datafim(class='form-control') }}
                    </div>
                    <div class="col-sm-2">
                        {{ oform.tipoexibicao(class='form-control') }}
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="submit">
                            Pesquisar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        {% for fase in listasovrs.keys()|sort() %}
        <h2>{{ fase }}</h2>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="filtro_personalizado_table">
                <thead>
                <tr>
                    {% for col in titulos %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ovr in listasovrs[fase] %}
                <tr class="{% if ovr[1] %}default{% else %}warning{% endif %}">
                    <td><a href="ovr?id={{ovr[0]}}">{{ ovr[0] }}</a></td>
                    {% for col in ovr[2] %}
                    <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    function exporta_planilhaovr() {
        window.location.assign('exportaplanilhaovr');
    }





</script>
{% endblock %}