{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <form method="POST" id="formovr" action="ovr">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="id" value="{{ oform.id.data }}"/>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <label for="id">ID</label>
                    <div class="form-control">
                        <span>{{ oform.id.data }}</span>
                    </div>
                </div>
                <div class="col-sm-1">
                    <label for="numero">Número doc</label>
                    {{ oform.numero(class='form-control')}}
                </div>
                <div class="col-sm-2">
                    <label for="tipooperacao">Tipo de Operação</label>
                    <span id="btn_roteiro" data-toggle="modal" data-target="#roteiro">(?)</span>
                    {{ oform.tipooperacao(class='form-control')}}
                </div>
                <div class="col-sm-3">
                    <label>Recinto</label>
                    {{ oform.recinto_id(class='form-control')}}
                </div>
                <div class="col-sm-3">
                    <label>Status</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-control">
                            <span class="{{ ovr.get_class() }}">
                                {{ ovr.get_fase() }}
                            </span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-control">
                            <span class="{{ ovr.get_class() }}">
                                {{ ovr.tipoevento.nome }}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    Cadastrador
                    <div class="form-control">
                        <span>{{ oform.user_descricao.data }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    CE Mercante
                    {{ oform.numeroCEmercante(class='form-control')}}
                </div>
                <div class="col-sm-2">
                    Auditor Responsável
                    <div class="form-control">
                        <span id="auditor_descricao">{{ oform.auditor_descricao.data }}</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    Setor
                    <div class="form-control">
                        <span>{{ oform.setor_descricao.data }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
            &nbsp;
            </div>
            <div class="row col-sm-12">
            {% include 'divconhecimento.html' %}
            </div>
            <div class="row col-sm-12">
                Declaração: DUE, DUIMP, etc
                {{ oform.numerodeclaracao(class='form-control')}}
            </div>
            <div class="row col-sm-12">
                <div class="panel panel-info rounded-pill">
                    <div class="panel-heading rounded-pill">
                        {% if due %}
                        <font size="+1"><b>&nbsp;&nbsp; - &nbsp;
                            <a href="programa_rvf_ajna?ovr_id={{ovr.id}}" target="_blank">
                                Ver imagens e mais informações / programar verificação física</a></b> </font>
                        <br>
                        País Importador: {{ due.get('PaisImportador') }} Canal: {{ due.get('canal') }} Data
                        Processamento: {{ due.get('dataProcessamentoTa') }}
                        <br>
                        Exportador: {{ due.get('Declarante') }} - {{ due.get('Nome Declarante') }}
                        <br>
                        Recinto: {% if due.get('recintoAduaneiroDespacho') %} {{ due.recintoAduaneiroDespacho.nome }} {%
                        endif %}
                        <br>
                        {% if due.get('itens') %}
                        Itens: {% for item in due.get('itens') %}{{ item.get('descricaoMercadoria') }} {% endfor %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row col-sm-12">
                CNPJ ou CPF Fiscalizado
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <!--                    {{ oform.cnpj_fiscalizado(class='form-control', data_inputmask='"mask": "99.999.999/9999-99"') }}-->
                    {{ oform.cnpj_fiscalizado(class='form-control') }}
                </div>
                <div class="col-sm-9">
                    {{ oform.nome_fiscalizado.data }}
                </div>
            </div>
            <div class="row col-sm-12">
                Observações
                {{ oform.observacoes(class='form-control') }}
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="adata">Data da Entrada da Carga</label>
                    {{ oform.dataentrada(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="adata">Data da Emissão</label>
                    {{ oform.adata(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="responsavel">Responsável</label>
                    <div class="form-control">
                        <span id="responsavel_nome">{{ ovr.responsavel.nome }}</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    &nbsp;
                    {% if oform.id.data %}
                    <button id="btn_responsavel" type="button" class="btn btn-warning form-control"
                            data-toggle="modal" data-target="#responsavel">
                        Atribuir responsável
                    </button>
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    &nbsp;
                    {% if oform.id.data %}
                    <button id="btn_auditorresponsavel" type="button" class="btn btn-warning form-control"
                            data-toggle="modal" data-target="#auditorresponsavel">
                        Definir Auditor
                    </button>
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    &nbsp;
                    {% if oform.id.data %}
                    <button id="btn_mudarsetor" type="button" class="btn btn-warning form-control"
                            data-toggle="modal" data-target="#mudarsetor">
                        Transferir para outro Setor
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h3>Alertas / Observações importantes</h3>
                </div>
                <div class="col-sm-9">
                    <br>
                    <div class="ui-widget">
                        <input id="flags" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="div_flags_ovr">
                    {% for flag in flags_ovr %}
                    <button type="button" class="btn btn-primary">
                        {{ flag.nome }} <span class="badge"
                                              onclick="exclui_flag_ovr({{oform.id.data}}, {{ flag.id }})">X</span>
                    </button>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                &nbsp;<br>
                <div class="col-sm-3">
                    <button class="btn btn-default btn-primary form-control" onclick="submit">
                        Salvar
                    </button>
                </div>
                <div class="col-sm-3">
                    {% if oform.id.data %}
                    <button id="btn_rvf" type="button" class="btn btn-primary btn-success form-control"
                            onclick="window.open('lista_rvfovr?ovr_id={{oform.id.data}}')">
                        Verificações físicas ({{ qtdervfs }}) ({{ qtdeimagens }})
                    </button>
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {% if oform.id.data %}
                    <button id="btn_tg" type="button" class="btn btn-primary btn-success form-control"
                            onclick="window.open('lista_tgovr?ovr_id={{oform.id.data}}')">
                        Termos de Guarda
                    </button>
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {% if oform.id.data %}
                    <button id="btn_auto" type="button" class="btn btn-primary btn-warning form-control"
                            data-toggle="modal" data-target="#lavratura">
                        Lavratura do Auto de Infração
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row col-sm-12">
    &nbsp;<br>
</div>

<!--Histórico de eventos-->
{% if oform.id.data %}
<div class="row col-sm-12">
    <div class="col-sm-9">
        <h4>Histórico de Eventos</h4>
    </div>
    <div class="col-sm-3">
        <button id="btn_historico" type="button" class="btn btn-primary btn-warning form-control"
                data-toggle="modal" data-target="#historico">Informar Evento
        </button>
    </div>

    <div class="table-responsive table row col-sm-12">
        <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive"
               cellspacing="0"
               cellpadding="0"
               id="table_eventos">
            <tr>
                <th>Tipo de Evento</th>
                <th>Usuário</th>
                <th>Detalhes</th>
                <th>Data</th>
                <th>Anexo</th>
                <th>Excluir</th>
            </tr>
            {% for historico in listahistorico %}
            <tr>
                <td align="center">
                    {{ historico.tipoevento.nome }}
                </td>
                <td align="center">
                    {{ historico.user_name }} -
                    {{ dict(responsavel_form.responsavel.choices)[historico.user_name] }}
                </td>
                <td align="center">
                    {% if 'Meramente informativo' in historico.motivo%}
                        <p style="color:red;">{{ historico.motivo }}</p>
                    {% else %}
                        {{ historico.motivo }}
                    {% endif %}
                </td>
                <td align="center">
                    {{ historico.create_date }}
                </td>
                <td align="center">
                    {% if historico.anexo_filename %}
                    <btn id="btn_anexo{{historico.id}}"
                         data-toggle="modal" data-target="#anexomodal{{historico.id}}"
                         class="btn btn-warning">
                        {{ historico.anexo_filename }}
                    </btn>
                    {% endif %}
                </td>
                <td>
                    <a href="#" data-target="#modalDeletaEvento{{historico.id}}" data-toggle="modal">&times;</a>
                </td>

            </tr>

            <!--Modal deleta processo-->
            <div class="modal fade" id="modalDeletaEvento{{historico.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="ModalLabel4">Excluir evento</h1>
                        </div>
                        <div class="modal-body">
                            <p>Deseja realmente excluir o evento?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a type="button" class="btn btn-danger" href="exclui_evento?evento_id={{historico.id}}&ovr_id={{ovr.id}}">Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not listahistorico %}
            <tr>
                <td>Sem eventos.</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<div class="row col-sm-12"></div>

<!--Lista de processos-->
<div class="row col-sm-12">
    <div class="col-sm-9">
        <h4>Lista de Processos</h4>
    </div>
    <div class="col-sm-3">
        <button id="btn_processo" type="button" class="btn btn-primary btn-warning form-control"
                data-toggle="modal" data-target="#processo">Informar processo
        </button>
    </div>
    <div class="col-sm-3"></div>
    <div class="table-responsive table row col-sm-12">
        <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive"
               cellspacing="0"
               cellpadding="0"
               id="table_processos">
            <tr>
                <th>Tipo de Processo</th>
                <th>Número</th>
                <th>Data</th>
                <th>Excluir</th>
            </tr>
            {% for processo in processos %}

            <tr>
                <td align="center">
                    {{ processo.tipoprocesso.descricao }}
                </td>
                <td align="center">
                    {{ processo.numero }}
                </td>
                <td align="center">
                    {{ processo.create_date }}
                </td>
                <td align="center">
                    <a href="#" data-toggle="modal" data-target="#modalDeletaProcesso{{processo.id}}">&times;</a>
                </td>
                <!--Modal exclui processo-->
                <div class="modal fade" id="modalDeletaProcesso{{processo.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="ModalLabel3">Excluir processo</h1>
                        </div>
                        <div class="modal-body">
                            <p>Deseja realmente excluir o processo?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a type="button" class="btn btn-danger" href="exclui_processo?processo_id={{processo.id}}">Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
            </tr>

            {% endfor %}
            {% if not processos %}
            <tr>
                <td>Sem processos.</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endif %}
</div>

<!--Footer-->
<div id="bottom" class="row col-sm-12">
    Sistema AJNA - Receita Federal do Brasil
</div>

<!--Modais-->
<div class="modal fade" id="responsavel" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel0">Registra responsável pela ficha</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="responsavelovr" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="ovr_id" value="{{ oform.id.data }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="tipoprocesso">Nome Responsável</label>
                        </div>
                        <div class="col-sm-9">
                            {{ responsavel_form.responsavel(class='form-control') }}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Atribuir"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="auditorresponsavel" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel21">Auditor responsável pela fiscalização</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="auditorresponsavelovr" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="ovr_id" value="{{ oform.id.data }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="tipoprocesso">Nome Auditor</label>
                        </div>
                        <div class="col-sm-9">
                            {{ responsavel_form.responsavel(class='form-control') }}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Atribuir"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mudarsetor" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel23">Transfere ficha para outro Setor</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="mudasetorficha" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="ovr_id" value="{{ oform.id.data }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="setores">Nome novo Setor</label>
                        </div>
                        <div class="col-sm-9">
                            {{ setor_ovr_form.setor(class='form-control') }}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Transferir"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lavratura" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel1">Registra lavratura de Auto de Infração</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="informalavraturaauto" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="ovr_id" value="{{ oform.id.data }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="tipoprocesso">Nome Responsável</label>
                        </div>
                        <div class="col-sm-9">
                            {{ responsavel_form.responsavel(class='form-control') }}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Informar lavratura"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="historico" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel">Registra evento da OVR</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="eventoovr" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="ovr_id" value="{{ oform.id.data }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="tipoevento">Status Atual</label>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-control">{{ovr.tipoevento.nome}}</div>
                        </div>
                        <div class="col-sm-1">
                            <label for="tipoevento">Fase</label>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-control">{{ovr.get_fase()}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="tipoevento">Novo Status</label>
                        </div>
                        <div class="col-sm-9">
                            {{ historico_form.tipoevento_id(class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="motivo">Motivo</label>
                        </div>
                        <div class="col-sm-9">
                            {{ historico_form.motivo(class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            Usuário
                        </div>
                        <div class="col-sm-9">
                            {{ historico_form.user_name(class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="meramente_informativo">Meramente Informativo</label>
                        </div>
                        <div class="col-sm-9">
                            {{ historico_form.meramente_informativo }} <span>Sim</span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="btn btn-default btn-choose" for="anexo">
                            <input id="anexo" name="anexo" type="file" style="display:none"
                                   onchange="change_anexo(this)"> Informe arquivo a anexar
                        </label>
                        <big>
                            <span class='label label-success' id="upload-file-info"></span>
                        </big>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Informar"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="processo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel2">Registra processo relativo à Ficha</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="processoovr" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="ovr_id" value="{{ oform.id.data }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="tipoprocesso">Tipo</label>
                        </div>
                        <div class="col-sm-9">
                            {{ processo_form.tipoprocesso_id(class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="motivo">Número</label>
                        </div>
                        <div class="col-sm-9">
                            {{ processo_form.numero_processo(class='form-control') }}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Registrar"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




{% for historico in listahistorico %}
{% if historico.anexo_filename %}
<div class="modal fade modal-lg" id="anexomodal{{historico.id}}" tabindex="-1" role="dialog"
     aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span>
                    {% if historico.anexo_filename[-3:] in ['jpg', 'png'] %}
                    <img src="anexo?evento={{historico.id}}" height="100%" width="100%"/>
                    {% else %}
                    <embed src="anexo?evento={{historico.id}}" height="800px" width="800px"/>
                    {% endif %}
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

<div class="modal fade" id="roteiro" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {% if itens_roteiro %}
                <ol>
                    {% for roteirooperacao in itens_roteiro %}
                    <li style="font-size:20px">
                        {% if roteirooperacao[2] %}
                        <del> {% endif %}
                            {{ roteirooperacao[0] }} ({{roteirooperacao[1]}})
                            {% if roteirooperacao[2] %}
                        </del>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %} {{super()}}

<script>
    function change_anexo(ev){
        console.log(ev.files[0]);
        if (ev.files[0].size > 6*5120000) {
            alert('Arquivos devem ser menores que 12MB!!');
            ev.preventDefault();
        } else {
            $('#upload-file-info').html(ev.files[0].name);
        }
    }


    function mostra_flags(flags_ovr){
        $('#div_flags_ovr').empty();
        $.each(flags_ovr, function(i, flag) {
            $('<button type="button" class="btn btn-primary">').text(flag.nome+ ' ').append(
            $('<span class="badge" onclick="exclui_flag_ovr({{oform.id.data}}, ' + flag.id + ')">').text('X')
            ).appendTo('#div_flags_ovr');
        });
    }
    function exclui_flag_ovr(ovr_id, flag_id){
        $.getJSON('exclui_flag_ovr', {
          ovr_id: ovr_id, flag_id: flag_id
        }, function(flags_ovr) {
          mostra_flags(flags_ovr);
        }).fail(function() { alert("Somente o usuário responsável pode executar essa tarefa"); });
    }
    function inclui_flag_ovr(ovr_id, flag_nome){
        $.getJSON('inclui_flag_ovr', {
          ovr_id: ovr_id, flag_nome: flag_nome
        }, function(flags_ovr) {
          mostra_flags(flags_ovr);
        }).fail(function() { alert("Somente o usuário responsável pode executar essa tarefa"); });
    }
    $( function() {
        var flags = [
        {% for flag in flags %}
        "{{ flag.nome }}",
        {% endfor %}
        ];
        $( "#flags" ).autocomplete({
          source: flags, minLength: 0
        }).focus(function () {
           $(this).autocomplete("search");
        });
    } );
    $('input#flags').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        inclui_flag_ovr({{oform.id.data}}, $('input#flags').val());
        $(this).val("");
        event.preventDefault();
      }
    });

    $(document).ready(function(){
        $("#cnpj_fiscalizado").inputmask({
            mask: ["999.999.999-99","99.999.999/9999-99"],
            keepStatic: true,
            removeMaskOnSubmit: true
        });
        $("#numeroCEmercante").inputmask("999999999999999", {removeMaskOnSubmit: true});
        $("#numerodeclaracao").inputmask("99AA9999999999", {removeMaskOnSubmit: true});
        $("#numero_processo").inputmask({
            mask: ["99/9999999-9","99999.999999/9999-99"],
            keepStatic: true,
            removeMaskOnSubmit: false
        });
    });




</script> {% endblock %}