{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row form-group">
        <form method="POST" id="filtroformovr" action="pesquisa_ovr">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-warning form-control" onclick="window.open('ovr')">
                        Nova Ficha
                    </button>
                </div>
            </div>
            <div class="row col-sm-12">
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="numeroCEmercante">Número CE-Mercante</label>
                    {{ oform.numeroCEmercante(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="tipoevento">Número declaração</label>
                    {{ oform.numerodeclaracao(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="numero">Número documento</label>
                    {{ oform.numero(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="recinto_id">Recinto</label>
                    {{ oform.recinto_id(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="tipooperacao">Tipo</label>
                    {{ oform.tipooperacao(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="fase">Fase</label>
                    {{ oform.fase(class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="datainicio">Início e fim de período de pesquisa</label>
                </div>
                <div class="col-sm-2">
                    <label for="cnpj_fiscalizado">Fiscalizado</label>
                </div>
                <div class="col-sm-2">
                    <label for="tipoevento">Status</label>
                </div>
                <div class="col-sm-2">
                    <label for="flags">Alertas</label>
                </div>
                <div class="col-sm-2">
                    <label for="infracoes">Infrações</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    {{ oform.datainicio(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.datafim(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.cnpj_fiscalizado(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.tipoevento_id(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.flag_id(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.infracao_id(class='form-control') }}
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-default btn-info form-control" onclick="submit">
                        Pesquisar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row col-sm-12">
        <hr>
        <h3>Lista de Fichas encontradas - limite de 100 resultados</h3>
    </div>
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="pesquisa_ovr_table" title="Lista de OVRs encontradas - limite de 100 resultados">
                <thead>
                <tr>
                    <th>Ficha Nº</th>
                    <th>Tipo Operação</th>
                    <th>Recinto</th>
                    <th>Ano</th>
                    <th>Número doc.</th>
                    <th>CE Mercante</th>
                    <th>Fiscalizado</th>
                    <th>Data</th>
                    <th>Último Evento</th>
                </tr>
                </thead>
                <tbody>
                {% for ovr in ovrs %}
                <tr>
                    <td><a href="ovr?id={{ ovr.id }}">{{ ovr.id }}</a></td>
                    <td>{{ ovr.get_tipooperacao() }}</td>
                    <td>{{ ovr.recinto.nome }}</td>
                    <td>{{ ovr.get_ano() }}</td>
                    <td>{{ ovr.numero }}</td>
                    <td>{{ ovr.numeroCEmercante }}</td>
                    <td>{{ ovr.cnpj_fiscalizado }}</td>
                    <td>{{ ovr.datahora }}</td>
                    <td>{{ ovr.tipoevento.nome }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>

</script>
{% endblock %}