{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row col-sm-12">
        <div class="form-group">
            <form method="POST" id="filtrodue" action="consulta_due">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="numero">Número da DUE</label>
                    </div>
                    <div class="col-sm-10">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ oform.numero(class='form-control') }}
                        </div>
                        <div class="col-sm-10">
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    &nbsp;<br>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="submit">
                            Pesquisar
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="window.open('ovr')">
                            Nova Ficha
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <h2>DUE</h2>
    </div>
    <div class="row col-sm-12">
        {% include 'divdue.html' %}
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row">
        <h2>Fichas</h2>
    </div>
    {% include 'divovr.html' %}
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row">
        &nbsp;<br>
        <h2> Verificações físicas</h2>
    </div>
    {% include 'divrvf.html' %}
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row">
        <h2>Inspeções por raio X - escaneamento</h2>
    </div>
    {% include 'divimagens.html' %}
    <div class="row">
        &nbsp;<br>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Redueita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
{% endblock %}