{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row col-sm-12">
        <h3>Preencha o nome e deixe CNPJ em branco para consultar uma lista de empresas por nome</h3>
        <h4>Preencha CNPJ e datas para busca mais exata</h4>
        <div class="form-group">
            <form method="POST" id="filtroempresa" action="consulta_empresa">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="nome">Nome</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="cnpj">Número do CNPJ</label>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            {{ oform.nome(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.cnpj(class='form-control') }}
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    &nbsp;<br>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="submit">
                            Pesquisar
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="window.open('ovr')">
                            Nova OVR
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row col-sm-12">
        <h2>Empresas (limite de 10 resultados)</h2>
    </div>
    <div id="list_empresas" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <h4><u>Clique nos títulos da tabela para ordenar</u></h4>
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="empresas_table">
                <thead>
                <tr>
                    <th style="text-align: left">CNPJ</th>
                    <th style="text-align: left">Nome</th>
                </tr>
                </thead>
                <tbody>
                {% for empresa_qtdeovrs in empresas_qtdeovrs %}
                <tr>
                    <td style="text-align: left"><a href="javascript:DoPost('{{empresa_qtdeovrs.empresa.cnpj}}')">
                        {{empresa_qtdeovrs.empresa.cnpj}}
                        {% if empresa_qtdeovrs.qtdeovrs > 0 %}({{empresa_qtdeovrs.qtdeovrs}}){% endif %}
                    </a></td>
                    <td style="text-align: left">{{ empresa_qtdeovrs.empresa.nome }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row col-sm-12">
        <h2>Fichas</h2>
    </div>
    <div id="list_ovr" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="ovr_table">
                <thead>
                <tr>
                    <th>Ficha Nº</th>
                    <th>Tipo Operação</th>
                    <th>Recinto</th>
                    <th>Ano</th>
                    <th>Número doc.</th>
                    <th>CE Mercante</th>
                    <th>Data</th>
                    <th>Último Evento</th>
                </tr>
                </thead>
                <tbody>
                {% for ovr in ovrs %}
                <tr>
                    <td><a href="ovr?id={{ ovr.id }}">{{ ovr.id }}</a></td>
                    <td>{{ ovr.get_tipooperacao() }}</td>
                    <td>{{ ovr.recinto.nome }}</td>
                    <td>{{ ovr.get_ano() }}</td>
                    <td>{{ ovr.numero }}</td>
                    <td>{{ ovr.numeroCEmercante }}</td>
                    <td>{{ ovr.datahora }}</td>
                    <td>{{ ovr.tipoevento.nome }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row col-sm-12">
        &nbsp;<br>
    </div>
    <div class="row col-sm-12">
        <h2>SATs/LABs</h2>
    </div>
    <div id="list_sats" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="sats_table">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Declaração</th>
                    <th>Data do Pedido</th>
                    <th>Descrição</th>
                </tr>
                </thead>
                <tbody>
                {% for sat in sats %}
                <tr>
                    <td>{{ sat.get_numero() }} </a></td>
                    <td>{{ sat.declaracao }} </a></td>
                    <td>{{ sat.dataPedido }} </a></td>
                    <td>{{ sat.descricao }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row col-sm-12">
        &nbsp;<br>
    </div>
    <div class="row col-sm-12">
        <h2>Conhecimentos de Carga</h2>
    </div>
    <div id="list_infoces" class="row col-sm-12">
        {% for numero, infoce in infoces.items() %}
        <div class="row col-sm-12">
            <div class="panel panel-info rounded-pill">
                <div class="panel-heading rounded-pill">
                    {% if infoce.conhecimento %}
                    Número CE Mercante: {{ infoce.conhecimento.numeroCEmercante }}<br>
                    Embarcador: {{ infoce.conhecimento.embarcador }}<br>
                    Consignatário: {{ infoce.conhecimento.consignatario }} -
                    {% if infoce.get('empresa') %}{{ infoce.empresa.nome }} {% endif %}
                    <br>
                    Data de emissão: {{ infoce.conhecimento.dataEmissao }}
                    Porto de Origem: {{ infoce.conhecimento.portoOrigemCarga }}
                    Porto de destino final: {{ infoce.conhecimento.portoDestFinal }}
                    <br>
                    Descrição Mercadoria:{{ infoce.conhecimento.descricao }}
                    <br>
                    <!--Nº BL original: {{ infoce.conhecimento.descricao }} -->
                    Contêineres: {% for container in infoce.containers %}
                    nº: {{container.codigoConteiner}} - {{"%.2f"|format(container.pesoBruto|float)}}kg
                    {% endfor %}
                    <br>
                    Cubagem total: {{ "%.2f"|format(infoce.conhecimento.cubagem|float) }}m³
                    NCMs: {% for ncm in infoce.ncms %}{{ ncm.identificacaoNCM }} {% endfor %}
                    <br>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row col-sm-12">
        <h2>DUEs</h2>
    </div>
    <div id="list_dues" class="row col-sm-12">
        {% for due in dues %}
        <div class="row col-sm-12">
            <div class="panel panel-info rounded-pill">
                <div class="panel-heading rounded-pill">
                    {% if due %}
                    Número: {{ due.numero }}
                    <br>
                    País Importador: {{ due.get('PaisImportador') }} Canal: {{ due.get('canal') }} Data Processamento:
                    {{ due.get('dataProcessamentoTa') }}
                    <br>
                    Exportador: {{ due.get('Declarante') }} - {{ due.get('Nome Declarante') }}
                    <br>
                    Recinto: {% if due.get('recintoAduaneiroDespacho') %} {{ due.recintoAduaneiroDespacho.nome }} {%
                    endif %}
                    <br>
                    {% if due.get('itens') %}
                    Itens: {% for item in due.get('itens') %}{{ item.get('descricaoMercadoria') }} {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
   function DoPost(ocnpj){
      document.querySelector("#cnpj").value=ocnpj;
      $('#filtroempresa').submit();
   }


    $('th').click(function(){
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
    })
    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }


</script>
{% endblock %}