{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="form-group">
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-warning form-control" onclick="window.open('ovr')">
                        Nova Ficha
                    </button>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="abre_ovr_id" id="abre_ovr_id">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-warning form-control" onclick="abre_ovr_numero()">
                        Abrir Ficha número
                    </button>
                </div>
            </div>
            <div class="row col-sm-12">
                <hr>
            </div>
        <form method="POST" id="filtroformovr" action="pesquisa_ovr">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    <label for="numeroCEmercante">Número CE-Mercante</label>
                    {{ oform.numeroCEmercante(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="tipoevento">Número declaração</label>
                    {{ oform.numerodeclaracao(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="numero">Número documento</label>
                    {{ oform.numero(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="recinto_id">Recinto</label>
                    {{ oform.recinto_id(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="tipooperacao">Tipo</label>
                    {{ oform.tipooperacao(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    <label for="fase">Fase</label>
                    {{ oform.fase(class='form-control') }}
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <label for="datainicio">Início e fim de período de pesquisa</label>
                </div>
                <div class="col-sm-2">
                    <label for="cnpj_fiscalizado">Fiscalizado</label>
                </div>
                <div class="col-sm-2">
                    <label for="tipoevento">Status</label>
                </div>
                <div class="col-sm-2">
                    <label for="flags">Alertas</label>
                </div>
                <div class="col-sm-2">
                    <label for="infracoes">Infrações</label>
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    {{ oform.datainicio(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.datafim(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.cnpj_fiscalizado(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.tipoevento_id(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.flag_id(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.infracao_id(class='form-control') }}
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    <label for="setor_id">Filtrar Setor (inclui filhos)</label>
                </div>
                <div class="col-sm-2">
                    <label for="numeroprocesso">Número do processo</label>
                </div>
                <div class="col-sm-2">
                    <label for="numeroprocesso">Responsável atual</label>
                </div>
                <div class="col-sm-2">
                    <label for="numeroprocesso">Auditor Responsável</label>
                </div>
                <div class="col-sm-2">
                    <label for="numeroprocesso">Teve evento</label>
                </div>
                <div class="col-sm-2">
                    <label for="numeroprocesso">Campos a exibir</label>
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    {{ oform.setor_id(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.numeroprocesso(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.responsavel_cpf(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.cpfauditorresponsavel(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.teveevento(class='form-control') }}
                </div>
                <div class="col-sm-2">
                    {{ oform.tipoexibicao(class='form-control') }}
                </div>
            </div>
            <div class="row col-sm-12">&nbsp;</div>
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <button class="btn btn-default btn-info form-control" onclick="submit">
                        Pesquisar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row col-sm-12">&nbsp;</div>

    <div class="row col-sm-12">
        <hr>
        <h3>Fichas encontradas: {{ listaovrs | length }} resultados - limite de {{limit}} resultados</h3>
        <div id="actions" class="row col-sm-12">
            <div class="col-sm-3">
                <h4>Com linhas selecionadas, fazer ação:</h4>
            </div>
            <div class="col-sm-3">
                <button id="btn_responsavel" type="button" class="btn btn-warning form-control"
                        data-toggle="modal" data-target="#responsavel">
                    Atribuir responsável
                </button>
            </div>
            <div class="col-sm-3">
                <button id="btn_historico" type="button" class="btn btn-primary btn-warning form-control"
                        data-toggle="modal" data-target="#historico">Informar Evento
                </button>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <h4><u>Clique nos títulos da tabela para ordenar</u></h4>
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="pesquisa_ovr_table">
                <thead>
                <tr>
                    <th></th>
                    {% for col in titulos %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ovr in listaovrs %}
                <tr class="{% if ovr[1] %}default{% else %}warning{% endif %}">
                    <td><input type="checkbox" name="rowid" class="action-checkbox" value="{{ovr[0]}}"
                               title="Selecionar linha"></td>
                    <td><a href="ovr?id={{ovr[0]}}" target="_blank">{{ ovr[0] }}</a></td>
                    {% for col in ovr[2] %}
                    <td style="text-align:left">{{ col | safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
    <div class="modal fade" id="responsavel" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="ModalLabel0">Registra responsável pela ficha</h1>
                </div>
                <div class="modal-body">
                    <form method="POST" action="responsavelovr_minhasovrs" enctype="multipart/form-data"
                          id="responsavelovr_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="active_tab" value="pesquisa_ovr"/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="tipoprocesso">Nome Responsável</label>
                            </div>
                            <div class="col-sm-9">
                                {{ responsavel_form.responsavel(class='form-control') }}
                            </div>
                        </div>
                        <input class="btn btn-primary" onclick="submit_many(this)" value="Atribuir"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="historico" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="ModalLabel">Registra evento da OVR</h1>
                </div>
                <div class="modal-body">
                    <form method="POST" action="eventoovr_minhasovrs" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="active_tab" value="pesquisa_ovr"/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="tipoevento">Novo Status</label>
                            </div>
                            <div class="col-sm-9">
                                {{ historico_form.tipoevento_id(class='form-control') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="motivo">Motivo</label>
                            </div>
                            <div class="col-sm-9">
                                {{ historico_form.motivo(class='form-control') }}
                            </div>
                        </div>
                        <input class="btn btn-primary" onclick="submit_many(this)" value="Informar"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>

    $('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }


function abre_ovr_numero(){
    numero = $("#abre_ovr_id").val();
    console.log(numero);
    if (numero) {
        window.open("ovr?id=" + numero);
    }
}
$("#abre_ovr_id").on('keyup', function (e) {
    if (e.key === 'Enter' || e.keyCode === 13) {
        abre_ovr_numero()
    }
});


    function submit_many(pinput){
        var form = $(pinput.form);
        $('input.action-checkbox:checked').each(function() {
            form.append($(this).clone());
        });
        // console.log(form);
        // console.log(form.serialize());
        $.ajax({
            url: form.attr('action'),
            type: "POST",
            data: form.serialize(),
            success : function(result) {
                window.location.reload();
            },
            error: function(xhr, resp, text) {
                console.log(resp);
                console.log(text);
                window.alert(text);
                window.location.reload();
            }
        });
    }

$('#selectAll').click(function (e) {
    $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
});

    $('th').click(function(){
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
    })
    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }






</script>
{% endblock %}