{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row col-sm-12">
        <div class="form-group">
            <form method="POST" id="filtroformfma" action="pesquisa_fma">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="status">Status</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="status">Fase</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="numero">Número FMA</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="numeroCEmercante">Número CE-Mercante</label>
                    </div>
                    <div class="col-sm-4">
                        <label for="datainicio">Início e fim de período de pesquisa</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ oform.status(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.fase(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.numero(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.numeroCEmercante(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datainicio(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datafim(class='form-control') }}
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    &nbsp;<br>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="submit">
                            Pesquisar
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" formaction="fma" formmethod="get">
                            Nova FMA
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="filtro_personalizado_table">
                <thead>
                <tr>
                    <th></th>
                    <th>Número</th>
                    <th>CE Mercante</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for fma in fmas %}
                <tr>
                    <td><a href="fma?id={{ fma.id }}">{{ fma.id }}</a></td>
                    <td>{{ fma.numero }}</td>
                    <td>{{ fma.numeroCEmercante }}</td>
                    <td>{{ fma.datahora }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>

</script>
{% endblock %}