{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row col-sm-12">
        <div class="form-group">
            <form method="POST" id="filtroformrvf" action="pesquisa_rvf">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="numeroCEmercante">Número CE-Mercante</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="numerolote">Número do Contêiner ou Lote</label>
                    </div>
                    <div class="col-sm-4">
                        <label for="datainicio">Início e fim de período de pesquisa</label>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ oform.numeroCEmercante(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.numerolote(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datainicio(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datafim(class='form-control') }}
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    &nbsp;<br>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="submit">
                            Pesquisar
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="window.open('rvf')">
                            Nova RVF
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="filtro_personalizado_table">
                <thead>
                <tr>
                    <th></th>
                    <th>CE Mercante</th>
                    <th>Numero Contêiner/Lote</th>
                    <th>Data da verificação</th>
                </tr>
                </thead>
                <tbody>
                {% for rvf in rvfs %}
                <tr>
                    <td><a href="rvf?id={{ rvf.id }}" target="_blank">{{ rvf.id }}</a></td>
                    <td>{{ rvf.numeroCEmercante }}</td>
                    <td>{{ rvf.numerolote }}</td>
                    <td>{{ rvf.datahora }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>

</script>
{% endblock %}