{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row col-sm-12">
        <div class="form-group">
            <form method="POST" id="filtrocontainer" action="consulta_container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="numerolote">Número do Contêiner ou Lote</label>
                    </div>
                    <div class="col-sm-4">
                        <label for="datainicio">Início e fim de período de pesquisa</label>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ oform.numerolote(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datainicio(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datafim(class='form-control') }}
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    &nbsp;<br>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="submit">
                            Pesquisar
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-info form-control" onclick="window.open('rvf')">
                            Nova RVF
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row">
        <h2>Fichas</h2>
    </div>
    <div id="list_ovr" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="ovr_table">
                <thead>
                <tr>
                    <th>Ficha Nº</th>
                    <th>Tipo Operação</th>
                    <th>Recinto</th>
                    <th>Ano</th>
                    <th>Número doc.</th>
                    <th>CE Mercante</th>
                    <th>Fiscalizado</th>
                    <th>Data</th>
                    <th>Último Evento</th>
                </tr>
                </thead>
                <tbody>
                {% for ovr in ovrs %}
                <tr>
                    <td><a href="ovr?id={{ ovr.id }}">{{ ovr.id }}</a></td>
                    <td>{{ ovr.get_tipooperacao() }}</td>
                    <td>{{ ovr.recinto.nome }}</td>
                    <td>{{ ovr.get_ano() }}</td>
                    <td>{{ ovr.numero }}</td>
                    <td>{{ ovr.numeroCEmercante }}</td>
                    <td>{{ ovr.cnpj_fiscalizado }}</td>
                    <td>{{ ovr.datahora }}</td>
                    <td>{{ ovr.tipoevento.nome }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row">
        &nbsp;<br>
        <h2> Verificações físicas</h2>
    </div>
    <div id="list_rvf" class="row col-sm-12">
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="rvf_table">
                <thead>
                <tr>
                    <th></th>
                    <th>CE Mercante</th>
                    <th>Numero Contêiner/Lote</th>
                    <th>Data da verificação</th>
                </tr>
                </thead>
                <tbody>
                {% for rvf in rvfs %}
                <tr>
                    <td><a href="rvf?id={{ rvf.id }}">{{ rvf.id }}</a></td>
                    <td>{{ rvf.numeroCEmercante }}</td>
                    <td>{{ rvf.numerolote }}</td>
                    <td>{{ rvf.datahora }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row">
        <h2>Conhecimentos de Carga</h2>
    </div>
    <div id="list_infoces" class="row col-sm-12">
        {% for numero, infoce in infoces.items() %}
        <div class="row col-sm-12">
            <div class="panel panel-info rounded-pill">
                <div class="panel-heading rounded-pill">
                    {% if infoce.conhecimento %}
                    Número CE Mercante: {{ infoce.conhecimento.numeroCEmercante }}<br>
                    Embarcador: {{ infoce.conhecimento.embarcador }}<br>
                    Consignatário: {{ infoce.conhecimento.consignatario }} -
                    {% if infoce.get('empresa') %}{{ infoce.empresa.nome }} {% endif %}
                    <br>
                    Descrição Mercadoria:{{ infoce.conhecimento.descricao }}
                    <br>
                    <!--Nº BL original: {{ infoce.conhecimento.descricao }} -->
                    Contêineres: {% for container in infoce.containers %}
                    nº: {{container.codigoConteiner}} - {{"%.2f"|format(container.pesoBruto|float)}}kg
                    {% endfor %}
                    <br>
                    Cubagem total: {{ "%.2f"|format(infoce.conhecimento.cubagem|float) }}m³
                    NCMs: {% for ncm in infoce.ncms %}{{ ncm.identificacaoNCM }} {% endfor %}
                    <br>
                    {% if infoce.get('sats') %}
                    Empresa possui pedidos de Laudo Técnico (SAT/LAB):
                    {% for sat in infoce.sats %} {{ sat.get_numero() }} {% endfor %}
                    {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row">
        <h2>DUEs</h2>
    </div>
    <div id="list_dues" class="row col-sm-12">
        {% for due in dues %}
        <div class="row col-sm-12">
            <div class="panel panel-info rounded-pill">
                <div class="panel-heading rounded-pill">
                    {% if due %}
                    Número: {{ due.numero }}
                    <br>
                    País Importador: {{ due.get('PaisImportador') }} Canal: {{ due.get('canal') }} Data Processamento:
                    {{ due.get('dataProcessamentoTa') }}
                    <br>
                    Exportador: {{ due.get('Declarante') }} - {{ due.get('Nome Declarante') }}
                    <br>
                    Recinto: {% if due.get('recintoAduaneiroDespacho') %} {{ due.recintoAduaneiroDespacho.nome }} {%
                    endif %}
                    <br>
                    {% if due.get('itens') %}
                    Itens: {% for item in due.get('itens') %}{{ item.get('descricaoMercadoria') }} {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row">
        <h2>Eventos Recintos</h2>
    </div>
    <div id="list_eventos" class="row col-sm-12">
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="eventos_table">
                <thead>
                <tr>
                    <th></th>
                    <th>Data do Evento</th>
                    <th>Recinto</th>
                    <th>Operador</th>
                    <th>Tipo de Evento</th>
                    <th>Informação</th>
                </tr>
                </thead>
                <tbody>
                {% for evento in eventos %}
                <tr onmouseover="showEvento(this, '{{evento.recinto}}', '{{evento.tipo}}', '{{evento.id}}')" onmouseout="clearEvento(this)">
                    <td>
                        <a href="https://localhost/ajnaapi/api/resumo_evento?recinto={{evento.recinto}}&tipo={{evento.tipo}}&id={{evento.id}}" target="_blank">
                            Ver</a>
                    </td>
                    <td>{{ evento.data }}</td>
                    <td>{{ evento.recinto }}</td>
                    <td>{{ evento.cpf }}</td>
                    <td>{{ evento.tipo }}</td>
                    <td>{{ evento.info }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        &nbsp;<br>
    </div>
    <div class="row">
        <h2>Inspeções por raio X - escaneamento</h2>
    </div>
    <div class="table table-responsive col-sm-10">
        <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive">
            <thead>
            <tr>
                <td>Data escaneamento</td>
                <td>Imagem contêiner</td>
            </tr>
            </thead>
            {% for imagem in imagens %}
            <tr>
                <td width="300" style="text-align:left">
                    {{ imagem.metadata.dataescaneamento }}
                </td>
                <td>
                    <img src="/virasana/image/{{ imagem._id }}" alt="Sem imagem" width="auto" height="auto"
                         style="border: 1px solid #000; max-width:800px; max-height:320px;"
                    />
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    function showEvento(obj, recinto, tipo, evid) {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    obj.title = this.responseText;
                    // console.log(obj.text);
                }
            }
        }
        var url = "https://localhost/ajnaapi/api/resumo_evento?format=text&recinto=" + recinto + "&tipo=" + tipo + "&id=" + evid
        // console.log(url);
        xhttp.open("GET", url, true);
        xhttp.send();
    }
    function clearEvento(obj) {
        obj.title = "";
    }

</script>
{% endblock %}