{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row col-sm-12">
        <div class="form-group">
            <form method="POST" id="filtrorelatorioform" action="relatorios">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row">
                    <div class="col-sm-5">
                        <label for="relatorio">Nome do relatório</label>
                    </div>
                    <div class="col-sm-4">
                        <label for="datainicio">Início e fim de período de pesquisa</label>
                    </div>
                    <div class="col-sm-3">
                        <label for="setor_id">Setor a filtrar</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-5">
                            {{ oform.relatorio(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datainicio(class='form-control') }}
                        </div>
                        <div class="col-sm-2">
                            {{ oform.datafim(class='form-control') }}
                        </div>
                        <div class="col-sm-3">
                            {{ oform.setor_id(class='form-control') }}
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    &nbsp;<br>
                    <div class="col-sm-5">
                        <button class="btn btn-default btn-info form-control" onclick="submit">
                            Pesquisar
                        </button>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                        <button onclick="exporta_planilhaovr()" id="btn_exportar"
                                type="button" class="btn btn-default form-control">
                            Planilha de Controle de Procedimentos
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="list" class="row col-sm-12">
        &nbsp;<br>
        <h4><u>Clique nos títulos da tabela para ordenar</u></h4>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="filtro_personalizado_table">
                <thead>
                <tr>
                    <th>Seq</th>
                    {% for coluna in linhas[0] %}
                    <th>{{ coluna }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for linha in linhas[1:] %}
                <tr>
                    <td>{{loop.index}}</td>
                    {% for coluna in linha %}
                        {% if linhas[0][loop.index - 1] == 'Ficha' %}
                            <td onmouseover="showMsg(this, '{{coluna}}')" onmouseout="clearMsg(this)">
                                <a href="ovr?id={{coluna}}" target="_blank">{{ coluna }}</a>
                            </td>
                        {% elif linhas[0][loop.index - 1] in ('Verificacao', 'RVF') %}
                            <td><a href="rvf?id={{coluna}}" target="_blank">{{ coluna }}</a></td>
                        {% else %}
                            <td>{{ coluna }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="sql">
        {{ sql }}
    </div>
    <div id="plot">
        {{ plot | safe }}
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>

    $('th').click(function(){
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
    })
    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
    function exporta_planilhaovr() {
        window.location.assign('exportaplanilhaovr');
    }

    function showMsg(obj, id) {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    obj.title = this.responseText;
                }
            }
        }
        xhttp.open("GET", "/bhadrasana2/ficha/summary/" + id, true);
        xhttp.send();
    }
    function clearMsg(obj) {
        obj.title = "";
    }

</script>
{% endblock %}