{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-sm-12">
            <form method="POST" id="formrvf" action="rvf">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="id" value="{{ oform.id.data }}"/>
                <input type="hidden" name="ovr_id" value="{{ oform.ovr_id.data }}"/>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-1">
                            ID<br>
                            {{ oform.id.data }}
                        </div>
                        <div class="col-sm-1">
                            Criador<br>
                            {{ oform.user_descricao.data }}
                        </div>
                        <div class="col-sm-3">
                            CE Mercante
                            {{ oform.numeroCEmercante(class='form-control')}}
                        </div>
                        <div class="col-sm-3">
                            Número do contêiner ou Lote
                            {{ oform.numerolote(class='form-control')}}
                        </div>
                        <div class="col-sm-4">
                            {% if oform.ovr_id.data %}
                            <h2><b>
                                <a href="ovr?id={{oform.ovr_id.data}}" target="_blank" class="text-default">
                                    Ver Ficha de Carga</a>
                            </b>
                            </h2>
                            {% endif %}
                        </div>
                        <div class="col-sm-12">
                            Descrição
                            {{ oform.descricao(class='form-control') }}
                        </div>
                        <div class="row col-sm-12">
                            <div class="col-sm-3">
                                <label for="peso">Peso verificado em Kg</label>
                                {{ oform.peso(class='form-control')}}
                            </div>
                            <div class="col-sm-3">
                                <label for="volume">Volume verificado em m3</label>
                                {{ oform.volume(class='form-control')}}
                            </div>
                            <div class="col-sm-3">
                                <label for="adata">Dia da verificação</label>
                                {{ oform.adata(class='form-control') }}
                            </div>
                            <div class="col-sm-3">
                                <label for="ahora">Hora da verificação</label>
                                {{ oform.ahora(class='form-control') }}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row col-sm-12">
            &nbsp;<br>
            <div class="col-sm-3">
                <button class="btn btn-default btn-primary form-control" onclick="submit">
                    Salvar
                </button>
            </div>
            <div class="col-sm-3">
                <a href="rvf_impressao/{{ oform.id.data }}" class="btn btn-info form-control">
                    Imprimir
                </a>
            </div>
            <div class="col-sm-3">
                {% if oform.id.data %}
                <button id="btn_apreensao" type="button" class="btn btn-warning form-control"
                        data-toggle="modal" data-target="#apreensao">
                    Informar apreensão
                </button>
                {% endif %}
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        </form>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-3">
            <h3>Apreensoes</h3>
        </div>
        <div class="col-sm-9">
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-12" id="div_apreensoes" border="1">
            {% for apreensao in apreensoes %}
            <button type="button" class="btn btn-primary">
                {{ apreensao.peso }}Kg - {{ apreensao.tipo.descricao }} <span class="badge"
                                         onclick="exclui_aprensao({{oform.id.data}}, {{ apreensao.id }})">X</span>
            </button>
            {% endfor %}
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-3">
            <h3>Lacres verificados</h3>
        </div>
        <div class="col-sm-3">
            <br>
            <input id="lacres" class="form-control">
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-12" id="div_lacres_verificados" border="1">
            {% for lacre in lacres_verificados %}
            <button type="button" class="btn btn-primary">
                {{ lacre.numero }} <span class="badge"
                                         onclick="exclui_lacre_verificado({{oform.id.data}}, {{ lacre.id }})">X</span>
            </button>
            {% endfor %}
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-3">
            <h3>Possíveis infrações detectadas</h3>
        </div>
        <div class="col-sm-9">
            <br>
            <div class="ui-widget">
                <input id="infracoes" class="form-control">
            </div>
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-12" id="div_infracoes_encontradas" border="1">
            {% for infracao in infracoes_encontradas %}
            <button type="button" class="btn btn-primary">
                {{ infracao.nome }} <span class="badge"
                                          onclick="exclui_infracao_encontrada({{oform.id.data}}, {{ infracao.id }})">X</span>
            </button>
            {% endfor %}
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-3">
            <h3>Marcas encontradas</h3>
        </div>
        <div class="col-sm-9">
            <br>
            <div class="ui-widget">
                <input id="marcas" class="form-control">
            </div>
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-12" id="div_marcas_encontradas" border="1">
            {% for marca in marcas_encontradas %}
            <button type="button" class="btn btn-primary">
                {{ marca.nome }} <span class="badge"
                                       onclick="exclui_marca_encontrada({{oform.id.data}}, {{ marca.id }})">X</span>
            </button>
            {% endfor %}
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="form-group">
            <h4>Selecione anexos:</h4>
            <div class="col-sm-3"><input type="file" class="btn btn-default" name="images" id="images" multiple>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default btn-primary form-control" onclick="upload_files()">
                    Enviar
                </button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-info form-control"
                        onclick="update_ordem_arquivos()">
                    Atualizar ordem
                </button>
            </div>
            <div class="col-sm-3">
                <a href="rvf_galeria_imagens?rvf_id={{oform.id.data}}" class="btn btn-warning form-control"
                   target="_blank">
                    Abrir fotos em Galeria de imagens</a>
            </div>
        </div>
        <div class="row col-sm-12">&nbsp;</div>
        <div class="row">
            <div class="col-sm-12" id="div_imagens" border="1">
                {% for anexo in anexos %}
                <span class="badge" name="{{anexo}}">
                        <a href="ver_imagens_rvf?rvf_id={{oform.id.data}}&imagem={{anexo}}" target="_blank">
                            <img src="image/{{anexo}}?size=240,160" class="btn btn-primary" alt="{{ anexo }}"
                                 width="240px"
                                 height="160px"/>
                        </a>
                    <span class="badge" onclick="exclui_anexo('{{ anexo }}')">X</span>
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="bottom" class="row">
    AJNA - Receita Federal do Brasil 2017
</div>
<div class="modal fade" id="apreensao" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel0">Registra responsável pela ficha</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="apreensaorvf" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="rvf_id" value="{{ oform.id.data }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="tipoapreensao">Tipo de apreensão</label>
                        </div>
                        <div class="col-sm-9">
                            {{ apreensao_form.tipo_id(class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="descricao">Descrição</label>
                        </div>
                        <div class="col-sm-9">
                            {{ apreensao_form.descricao(class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="motivo">Peso em Kg</label>
                        </div>
                        <div class="col-sm-9">
                            {{ apreensao_form.peso(class='form-control') }}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Informar"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %} {{super()}}

<script type="text/javascript">
    $(document).ready(function(){
        $("#div_imagens").sortable();
        $("#numeroCEmercante").inputmask("999999999999999", {removeMaskOnSubmit: true});
        $("#numerolote").inputmask("AAAA9999999", {removeMaskOnSubmit: true});

    });





</script>
<script>
    function mostra_lacres(lacres_verificados){
        $('#div_lacres_verificados').empty();
        $.each(lacres_verificados, function(i, lacre) {
            $('<button type="button" class="btn btn-primary">').text(lacre.numero + ' ').append(
            $('<span class="badge" onclick="exclui_lacre_verificado({{oform.id.data}}, ' + lacre.id + ')">').text('X')
            ).appendTo('#div_lacres_verificados');
        });
    }
    function exclui_lacre_verificado(rvf_id, lacre_id){
        $.getJSON('exclui_lacre_verificado', {
          rvf_id: rvf_id, lacre_id: lacre_id
        }, function(lacres_verificados) {
          mostra_lacres(lacres_verificados);
        });
    }
    function inclui_lacre_verificado(rvf_id, lacre_numero){
        $.getJSON('inclui_lacre_verificado', {
          rvf_id: rvf_id, lacre_numero: lacre_numero
        }, function(lacres_verificados) {
          mostra_lacres(lacres_verificados);
        });
    }
    $('input#lacres').bind('keydown', function(e) {
      if (e.keyCode == 13) {
         e.preventDefault();
         inclui_lacre_verificado({{oform.id.data}}, $('input#lacres').val());
      }
    });

    function mostra_infracoes(infracoes_encontradas){
        $('#div_infracoes_encontradas').empty();
        $.each(infracoes_encontradas, function(i, infracao) {
            $('<button type="button" class="btn btn-primary">').text(infracao.nome+ ' ').append(
            $('<span class="badge" onclick="exclui_infracao_encontrada({{oform.id.data}}, ' + infracao.id + ')">').text('X')
            ).appendTo('#div_infracoes_encontradas');
        });
    }
    function exclui_infracao_encontrada(rvf_id, infracao_id){
        $.getJSON('exclui_infracao_encontrada', {
          rvf_id: rvf_id, infracao_id: infracao_id
        }, function(infracoes_encontradas) {
          mostra_infracoes(infracoes_encontradas);
        });
    }
    function inclui_infracao_encontrada(rvf_id, infracao_nome){
        $.getJSON('inclui_infracao_encontrada', {
          rvf_id: rvf_id, infracao_nome: infracao_nome
        }, function(infracoes_encontradas) {
          mostra_infracoes(infracoes_encontradas);
        });
    }
    $( function() {
        var infracoes = [
        {% for infracao in infracoes %}
        "{{ infracao.nome }}",
        {% endfor %}
        ];
        $( "#infracoes" ).autocomplete({
          source: infracoes, minLength: 0
        }).focus(function () {
           $(this).autocomplete("search");
        });
    } );
    $('input#infracoes').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        inclui_infracao_encontrada({{oform.id.data}}, $('input#infracoes').val());
        $(this).val('');
      }
    });

    function mostra_marcas(marcas_encontradas){
        $('#div_marcas_encontradas').empty();
        $.each(marcas_encontradas, function(i, marca) {
            $('<button type="button" class="btn btn-primary">').text(marca.nome+ ' ').append(
            $('<span class="badge" onclick="exclui_marca_encontrada({{oform.id.data}}, ' + marca.id + ')">').text('X')
            ).appendTo('#div_marcas_encontradas');
        });
    }
    function exclui_marca_encontrada(rvf_id, marca_id){
        $.getJSON('exclui_marca_encontrada', {
          rvf_id: rvf_id, marca_id: marca_id
        }, function(marcas_encontradas) {
          mostra_marcas(marcas_encontradas);
        });
    }
    function inclui_marca_encontrada(rvf_id, marca_nome){
        $.getJSON('inclui_marca_encontrada', {
          rvf_id: rvf_id, marca_nome: marca_nome
        }, function(marcas_encontradas) {
          mostra_marcas(marcas_encontradas);
        });
    }
    $( function() {
        var marcas = [
        {% for marca in marcas %}
        "{{ marca.nome }}",
        {% endfor %}
        ];
        $( "#marcas" ).autocomplete({
          source: marcas, minLenght: 1
        });
    } );
    $('input#marcas').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        inclui_marca_encontrada({{oform.id.data}}, $('input#marcas').val());
        $('input#marcas').val('');
      }
    });

    function exclui_anexo(anexo_id){
        $.getJSON('exclui_anexo', {
         _id: anexo_id
        }, function(anexos) {
          // mostra_anexos(anexos);
        });
        location.reload();
    }
    function upload_files(ev){
    // Resize images before upload if images are too big
        // Set the image once loaded into file reader
        // Load files into file reader
        console.log($("input#images"));
        console.log($("input#images").val());
        var filesToUpload = $("input#images")[0].files;
        console.log(filesToUpload);
        var dataurl = null;
        for (var i = 0; i < filesToUpload.length; i++) {
            console.log(i);
            file = filesToUpload[i];
            var reader = new FileReader();
            reader.fileName = file.name;
            reader.onloadend = function(e)
            {
                var img = document.createElement("img");
                img.src = e.target.result;
                img.onload = function () {
                    var canvas = document.createElement("canvas");
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0);
                    var MAX_WIDTH = 1024;
                    var MAX_HEIGHT = 768;
                    var width = img.width;
                    var height = img.height;
                    if (width > height) {
                      if (width > MAX_WIDTH) {
                        console.log('width bigger');
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                      }
                    } else {
                      if (height > MAX_HEIGHT) {
                        console.log('height bigger');
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                      }
                    }
                    canvas.width = width;
                    canvas.height = height;
                    console.log(width, height);
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0, width, height);
                    dataurl = canvas.toDataURL("image/jpeg");
                    // Post the data
                    var fd = new FormData();
                    fd.append("filename", e.target.fileName);
                    fd.append("content", dataurl);
                    fd.append("rvf_id",  {{ oform.id.data }});
                    $.ajax({
                        url: 'api/rvf_imgupload',
                        data: fd,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                        success: function(data){
                           // location.reload();
                        }
                    });
                }
                img.onload()
            }
            reader.readAsDataURL(file);
        }
        //
    }
    function update_ordem_arquivos(){
        var qttd_arq = $("#div_imagens").children().length;
        rvf_id = {{oform.id.data}}
        var lista = []

        $('#div_imagens').children('span').each(function(){
            lista.push($(this).attr("name"));
        });
        /*for (i = 0; i < lista.length; i++){
            console.log(lista[i]);
        }
        console.log(qttd_arq);
        console.log(rvf_id);
        */
        $.getJSON('rvf_inclui_ordem_arquivos', {
          rvf_id: rvf_id, qttd_arq: qttd_arq, lista: lista
        });
    }

</script> {% endblock %}