<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
    @page {
    size: A4;
    margin: 10;
    }
    @media print {
      html, body {
        width: 210mm;
        height: 297mm;
      }
    }
    img { width: 95%; max-height: 95%; margin: 5; padding: 5;
    page-break-before: always;
    page-break-inside: avoid;
    }



    </style>
</head>
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="row col-xs-12">
            <div class="col-xs-12">
                CE Mercante: {{ rvf.numeroCEmercante }}
            </div>
            <div class="col-xs-12">
                Descrição: <br>
                {{ rvf.descricao }}
            </div>
            <div class="col-xs-12">
                <div class="col-xs-3">
                    Data da verificação: {{ rvf.datahora }}
                </div>
            </div>
        </div>
    </div>
    {% if marcasencontradas %}
    <div class="row col-xs-12">
        <div class="row col-xs-3">
            <h3>Marcas encontradas</h3>
        </div>
        <div class="col-xs-9">
        </div>
        <div class="row col-xs-12">
            <div class="col-xs-12" id="div_marcas_encontradas" border="1">
                {% for marca in marcas_encontradas %}
                <span class="badge">
                    {{ marca.nome }}
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% for anexo in anexos %}
<img src="/bhadrasana2/image/{{anexo}}">
{% endfor %}

</html>