{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container">

    <div id="top" class="row">
        <!--Imagem OKR-->
        <div class="col-sm-4">
            <img src="static/okrs.jpg" width="90%"/>
        </div>

        <!--Tabela de objetivos-->
        <div class="col-sm-8">

            <!--Parte superior-->
            <div class="row">

                <div class="col-sm-5">
                    <h2>Objetivos do Setor</h2>
                </div>

                <!--Seleciona setor-->
                <div class="col-sm-3">
                    &nbsp;<br>
                    {{okrobjective_form.setor_id(class='form-control')}}
                </div>
                <div class="col-sm-2"></div>

                <!--Adiciona objetivo-->
                <div class="col-sm-2" style="margin-top: 2.5%;">
                    <button id="btn_objetivo_novo" type="button"
                            class="btn btn-primary btn-warning form-control"
                            data-toggle="modal" data-target="#objetivo_novo">Adicionar
                    </button>
                </div>
            </div>

            <!--Parte inferior-->
            <div class="row">
                <div class="table">
                    <table class="inlineTable table table-bordered table-hover table-responsive"
                           id="objectives">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Descrição</th>
                            <th>Início</th>
                            <th>Fim</th>
                            <th colspan="2">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for objetivo in objectives %}
                        <tr {% if objective and objective.id== objetivo.id %}class="active primary" {% endif %}>
                            <td><a href="ver_okrs?objetivo={{objetivo.id}}">Ver resultados</a></td>
                            <td>{{ objetivo.nome }}</td>
                            <td>{{ objetivo.get_inicio }}</td>
                            <td>{{ objetivo.get_fim }}</td>
                            <td>
                                <button id="btn_objetivo{{objetivo.id}}" type="button"
                                        class="btn btn-primary btn-warning form-control"
                                        data-toggle="modal" data-target="#objetivo{{objetivo.id}}">Editar
                                </button>
                            </td>
                            <td>

                            <form action="{{ url_for('exclui_objective', objetivo_id=objetivo.id) }}" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" name="setor_id" value="{{okrobjective_form.setor_id.data}}"/>
                                <button  class="btn btn-primary btn-danger form-control" type="submit">Excluir</button>
                            </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!--Incluir metas-->
    <div id="titulo_metas" class="row col-sm-12">
        {% if objective %}
        <div class="row">
            <div class="col-sm-9">
                <h3>Resultados chave para o objetivo "{{ objective.nome }}"</h3>
            </div>
            <div class="col-sm-3">
                <button id="btn_nova_meta" type="button"
                        class="btn btn-primary btn-warning form-control"
                        data-toggle="modal" data-target="#meta_nova">Incluir meta
                </button>
            </div>
        </div>
        {% endif %}
        &nbsp;<br>
    </div>

    <!--Gráficos de resultados-->
    <div id="plots" class="row col-sm-12">
        {% for plot in plots %}
        <div class="col-sm-4">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
<!--                <button id="btn_exclui_meta{{results[loop.index - 1].id}}" type="button"-->
<!--                        class="btn btn-primary btn-danger form-control"-->
<!--                        onclick="exclui_meta({{results[loop.index - 1].id}})">Excluir-->
<!--                </button>-->

                <form action="{{ url_for('exclui_meta', metaid=results[loop.index - 1].id )}}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="setor_id" value="{{okrobjective_form.setor_id.data}}"/>
                    <input type="hidden" name="id" value="{{objective.id}}"/>
                    <button type="submit" class="btn btn-primary btn-danger form-control">Excluir</button>
                </form>

            </div>
            <div class="col-sm-12">
                {{ plot | safe }}
            </div>
        </div>
        {% endfor %}
    </div>


    <!--Footer-->
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>

<!--Modal editar objetivo-->
{% for objetivo in objectives %}
<div class="modal fade modal-lg" id="objetivo{{objetivo.id}}" tabindex="-1" role="dialog"
     aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="POST" action="okrobjective" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="id" value="{{objetivo.id}}"/>
                    <input type="hidden" name="setor_id" value="{{okrobjective_form.setor_id.data}}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="nome">Descrição do objetivo</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="nome" class="form-control" value="{{objetivo.nome}}"/>
                        </div>
                        <div class="col-sm-3">
                            <label for="nome">Data de início da medição</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" name="inicio" type="date" value="{{objetivo.inicio_date}}">
                        </div>
                        <div class="col-sm-3">
                            <label for="nome">Data de fim da medição</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" name="fim" type="date" value="{{objetivo.fim_date}}">
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Editar"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!--Modal adicionar objetivo-->
<div class="modal fade modal-lg" id="objetivo_novo" tabindex="-1" role="dialog"
     aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="POST" action="okrobjective" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="setor_id" value="{{okrobjective_form.setor_id.data}}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="nome">Descrição do objetivo</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="nome" class="form-control" value=""/>
                        </div>
                        <div class="col-sm-3">
                            <label for="nome">Data de início da medição</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" name="inicio" type="date" value="">
                        </div>
                        <div class="col-sm-3">
                            <label for="nome">Data de fim da medição</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" name="fim" type="date" value="">
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Incluir"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal incluir meta-->
{% if objective %}
<div class="modal fade modal-lg" id="meta_nova" tabindex="-1" role="dialog"
     aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="POST" action="okrmeta" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="objective_id" value="{{ objective.id }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="nome">Selecione o resultado chave</label>
                        </div>
                        <div class="col-sm-9">
                            {{okrmeta_form.result_id(class='form-control')}}
                        </div>
                        <div class="col-sm-3">
                            <label for="nome">Informe a meta</label>
                        </div>
                        <div class="col-sm-9">
                            {{okrmeta_form.ameta(class='form-control')}}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Incluir"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %} {% block scripts %} {{super()}}
<script>

<!--    function exclui_meta(meta_id){-->
<!--        $.getJSON('exclui_okrmeta', {-->
<!--          meta_id: meta_id-->
<!--        }, function(flags_ovr) {-->
<!--          document.location.reload(true);-->
<!--        });-->
<!--    }-->

    $( "#setor_id" ).change(function() {
        window.location.href = 'ver_okrs?setor_id=' + this.value;
    });



</script>
{% endblock %}