{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row col-sm-12">
        <div class="col-sm-4">
            <img src="static/okrs.jpg" width="90%"/>
        </div>
        <div class="col-sm-6">
            <h1>Objetivos do Setor</h1>
            <div class="table">
                <table class="inlineTable table table-bordered table-hover table-responsive"
                       id="objectives">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Descrição</th>
                        <th>Início</th>
                        <th>Fim</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for objetivo in objectives %}
                    <tr>
                        <td><a href="ver_okrs?objetivo={{loop.index - 1}}">Ver resultados</a></td>
                        <td>{{ objetivo.nome }}</td>
                        <td>{{ objetivo.get_inicio }}</td>
                        <td>{{ objetivo.get_fim }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="list" class="row col-sm-12">
        <h1>Acompanhamento dos resultados chave</h1>
        &nbsp;<br>
        <div class="table">
            <table class="inlineTable table table-bordered table-hover table-responsive"
                   id="results_table">
                <thead>
                <tr>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                <tr>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="plot" class="row">
        {% for plot in plots %}
        <div class="col-sm-4">
            {{ plot | safe }}
        </div>
        {% endfor %}
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
</script>
{% endblock %}